<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.ksXs.KsXsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.ksXs.KsXs">
        <id column="id" property="id" />
        <result column="ks_id" property="ksId" />
        <result column="xs_id" property="xsId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ks_id, xs_id
    </sql>
    <update id="updateSfckByKsIds">
        update
    </update>
    <select id="selectByKsId" resultType="java.lang.Long">
        select xs_id
        from t_ks_xs tkx
        <where>
            tkx.ks_id = #{ksId}
        </where>
    </select>
    <select id="getNumByXsId" resultType="java.lang.Long">
        select count(id)
        from t_ks_xs tkx
        where tkx.xs_id = #{xsId} and tkx.sfck = false
    </select>
    <select id="getKsIdAndTypeByYhId" resultType="com.itts.personTraining.model.ks.Ks">
        select tkx.ks_id as id, ks.type
        from t_ks_xs tkx left join t_xs xs on (xs.id=tkx.xs_id) left join t_ks ks on (ks.id=tkx.ks_id)
        where xs.sfsc = false and ks.sfsc = false and ks.sfxf = true
        <if test="yhId != null">and xs.yh_id = #{yhId}</if>
        order by ks.cjsj asc
    </select>


</mapper>
