<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.pc.PcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.pc.Pc">
        <id column="id" property="id" />
        <result column="rxrq" property="rxrq" />
        <result column="pcmc" property="pcmc" />
        <result column="pch" property="pch" />
        <result column="jylx" property="jylx" />
        <result column="xylx" property="xylx" />
        <result column="sfsc" property="sfsc" />
        <result column="pcnf" property="pcnf" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rxrq, pcmc, pch, jylx, xylx, sfsc, pcnf, cjsj, cjr, gxsj, gxr
    </sql>

    <select id="selectPcList" parameterType="java.util.List">
        select * from t_pc
        where sfsc = false
        and id in
        <foreach collection="list" open="(" close=")" separator="," item="ids">
             #{ids}
        </foreach>

    </select>
    <select id="findKcListById" resultType="com.itts.personTraining.model.kc.Kc">
        select kc.*
        from t_kc kc
        where kc.sfsc = false
          and kc.xylx = (select pc.xylx from t_pc pc where pc.sfsc = false and pc.id = #{id})
    </select>
    <select id="getByPch" resultType="com.itts.personTraining.model.pc.Pc">
        select *
        from t_pc pc
        where pc.sfsc = false
        <if test="pch != null and pch != ''"> and pc.pch = #{pch} </if>
    </select>
    <select id="findPcByYhId" resultType="com.itts.personTraining.model.pc.Pc">
        select pc.*
        from t_pc pc left join t_pc_xs tpx on (tpx.pc_id=pc.id) left join t_xs xs on (xs.id=tpx.xs_id)
        where pc.sfsc = false and xs.sfsc = false
        <if test="yhId != null"> and xs.yh_id = #{yhId} </if>
        order by pc.cjsj desc
    </select>
    <select id="findPcIdsByYear" resultType="java.lang.Long">
        select pc.id
        from t_pc pc
        where pc.sfsc = false
          and pc.pch like concat('%', #{currentYear}, '%')
    </select>

    <update id="updatePcList"  parameterType="java.util.List">
        update sfsc =true
        from t_pc
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </update>
</mapper>
