<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.xsKcCj.XsKcCjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.xsKcCj.XsKcCj">
        <id column="id" property="id" />
        <result column="xs_cj_id" property="xsCjId" />
        <result column="kc_id" property="kcId" />
        <result column="kclx" property="kclx" />
        <result column="kcdm" property="kcdm" />
        <result column="kcmc" property="kcmc" />
        <result column="sfbx" property="sfbx" />
        <result column="xwk" property="xwk" />
        <result column="dqxf" property="dqxf" />
        <result column="cj" property="cj" />
        <result column="xxxq" property="xxxq" />
        <result column="cjsx" property="cjsx" />
        <result column="bkcj" property="bkcj" />
        <result column="sfsc" property="sfsc" />
        <result column="bz" property="bz" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, xs_cj_id, kc_id, txkc.kclx, kcdm, kcmc, sfbx, xwk, dqxf, cj, xxxq, cjsx, bkcj, sfsc, bz, cjsj, cjr, gxsj, gxr
    </sql>
    <select id="selectByXsCjId" resultType="com.itts.personTraining.dto.XsKcCjDTO">
        select txkc.id, xs_cj_id, kc_id, txkc.kclx, kc.kcxs, kc.kcxf, kc.kcdm, kc.kcmc, kc.sfbx, xwk, yzyxf, dqxf, cj, xxxq, cjsx, bkcj, txkc.bz, txkc.cjsj, txkc.cjr, txkc.gxsj, txkc.gxr
        from t_xs_kc_cj txkc left join t_kc kc on (txkc.kc_id=kc.id) left join t_xs_cj txc on (txc.id=txkc.xs_cj_id)
        where txkc.sfsc = false and kc.sfsc = false and txc.sfsc = false
        <if test="xsCjId != null"> and txkc.xs_cj_id = trim(#{xsCjId}) </if>
        <if test="kclx != null"> and txkc.kclx = trim(#{kclx}) </if>
        order by txkc.cjsj desc
    </select>
    <select id="selectYzyByXsId" resultType="com.itts.personTraining.dto.XsKcCjDTO">
        select *
        from t_xs_kc_cj txkc left join t_xs xs on (xs.id=txkc.xs_id)
        where txkc.sfsc = false and xs.sfsc = false
        <if test="xsId != null"> and txkc.xs_id = #{xsId} </if>
        <if test="kclx != null"> and txkc.kclx = #{kclx} </if>
        order by txkc.cjsj desc
    </select>
    <select id="findXsKcCjByXsId" resultType="com.itts.personTraining.dto.XsKcCjDTO">
        select *
        from t_xs_kc_cj txkc
        where txkc.sfsc = false and txkc.xs_id = #{xsId}
    </select>
    <select id="getCountYzy" resultType="java.lang.Integer">
        select SUM(txkc.yzyxf)
        from t_xs_kc_cj txkc left join t_xs xs on (xs.id=txkc.xs_id)
        where txkc.sfsc = false and xs.sfsc = false
          and txkc.xs_id = #{xsId}
    </select>
    <select id="getCountDqxf" resultType="java.lang.Integer">
        select SUM(txkc.dqxf)
        from t_xs_kc_cj txkc left join t_xs_cj txc on (txc.id=txkc.xs_cj_id)
        where txkc.sfsc = false and txc.sfsc = false and txc.sfxf = true
          and txkc.xs_cj_id = #{xsCjId}
    </select>
    <select id="getCountJszykczf" resultType="java.lang.Integer">
        select SUM(kc.kcxf)
        from t_xs_kc_cj txkc left join t_kc kc on (kc.id=txkc.kc_id) left join t_xs_cj txc on (txc.id=txkc.xs_cj_id)
        where txkc.sfsc = false and kc.sfsc = false and txc.sfsc = false and txc.sfxf = true
        and txkc.xs_cj_id = #{xsCjId}
    </select>
    <select id="getAvgYzy" resultType="java.lang.Integer">
        select round(avg(kccj2.cj),0) from (SELECT
        kccj.xs_id,
        kccj.bkcj AS cj
        FROM
        t_xs_kc_cj kccj
        WHERE
        cj &lt; 60 AND xs_id = #{xsId} UNION ALL SELECT kccj.xs_id, kccj.cj AS cj FROM t_xs_kc_cj kccj WHERE cj >= 60
        AND xs_id = #{xsId}) kccj2
    </select>
    <select id="getAvgfxcj" resultType="java.lang.Integer">
        select round(avg(kccj1.cj),0)
        from (select kccj.xs_cj_id,
                     kccj.bkcj as cj
              from t_xs_kc_cj kccj
                       left join t_kc kc on
                  (kc.id = kccj.kc_id)
                       left join t_xs_cj xscj on (xscj.id = kccj.xs_cj_id)
              where xscj.sfsc = false
                and xscj.sfxf = true
                and kccj.cj &lt; 60
                and kc.kclx = #{kclx}
                and kccj.xs_cj_id = #{xsCjId}
              UNION ALL
              select kccj.xs_cj_id, kccj.cj
              from t_xs_kc_cj kccj
                       left join t_kc kc on (kc.id = kccj.kc_id)
                       left join t_xs_cj xscj
                                 on (xscj.id = kccj.xs_cj_id)
              where xscj.sfsc = false
                and xscj.sfxf = true
                and kccj.cj >= 60
                and kc.kclx = #{kclx}
                and kccj.xs_cj_id = #{xsCjId}) kccj1
    </select>
    <select id="getCountXf" resultType="java.lang.Integer">
        select sum(kccj.dqxf)
        from t_xs_kc_cj kccj
                 left join t_kc kc on (kc.id = kccj.kc_id)
                 left join t_xs_cj xscj on
            (xscj.id = kccj.xs_cj_id)
        where xscj.sfsc = false
          and xscj.sfxf = true
          and kc.sfsc = false
          and kccj.xs_cj_id = #{xsCjId}
          and kc.kclx = #{kclx}
    </select>

</mapper>
