<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.ksExp.KsExpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.ksExp.KsExp">
        <id column="id" property="id" />
        <result column="ks_id" property="ksId" />
        <result column="xxjs_id" property="xxjsId" />
        <result column="kc_id" property="kcId" />
        <result column="kskssj" property="kskssj" />
        <result column="ksjssj" property="ksjssj" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
        <result column="xfsj" property="xfsj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ks_id, xxjs_id, kc_id, kskssj, ksjssj, sfsc, cjsj, cjr, gxsj, gxr, xfsj
    </sql>
    <select id="findByCondition" resultType="com.itts.personTraining.dto.KsExpDTO">
        select tke.id, tke.ks_id, tke.xxjs_id, tx.jxlmc, tx.jsbh, tke.kc_id, tk.kcdm, tk.kcmc, kskssj, ksjssj, tke.sfsc, tke.cjsj, tke.cjr, tke.gxsj, tke.gxr, tke.xfsj
        from t_ks_exp tke left join t_xxjs tx on (tke.xxjs_id=tx.id) left join t_kc tk on (tke.kc_id=tk.id)
        <where>
            tke.sfsc = false and tx.sfsc = false and tk.sfsc = false
            <if test="id != null">and tke.id = #{id}</if>
            <if test="ksId != null">and tke.ks_id = #{ksId}</if>
        </where>
        order by tke.cjsj desc
    </select>

    <select id="findByKsExpId" resultType="com.itts.personTraining.dto.KsExpDTO">

    </select>

</mapper>
