<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.tzSz.TzSzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.tzSz.TzSz">
        <id column="id" property="id" />
        <result column="tz_id" property="tzId" />
        <result column="sz_id" property="szId" />
        <result column="sfdq" property="sfdq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tz_id, sz_id, sfdq
    </sql>

</mapper>
