<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.userservice.mapper.yh.YhMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.userservice.model.yh.Yh">
        <id column="id" property="id" />
        <result column="yhm" property="yhm" />
        <result column="mm" property="mm" />
        <result column="yhbh" property="yhbh" />
        <result column="zsxm" property="zsxm" />
        <result column="lxdh" property="lxdh" />
        <result column="yhlx" property="yhlx" />
        <result column="yhjb" property="yhjb" />
        <result column="sfhy" property="sfhy" />
        <result column="hylx_id" property="hylxId" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, yhm, mm, yhbh, zsxm, lxdh, yhlx, yhjb, sfhy, hylx_id, sfsc, cjsj, cjr, gxsj, gxr
    </sql>
    <!-- 角色列表，包含菜单fl-->
    <resultMap id="JsDTOMap" type="com.itts.userservice.dto.JsDTO">
        <id column="jsid" property="id" />
        <result column="jsmc" property="name" />
        <result column="jsbm" property="code" />
        <collection property="menuDTOList" ofType="com.itts.userservice.dto.MenuDTO">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="parentId" column="parentId"></result>
            <result property="url" column="url"></result>
            <result property="level" column="level"></result>
        </collection>
    </resultMap>

    <!-- 角色列表，包含菜单fl-->
    <select id="findByUserId" parameterType="Long" resultMap="JsDTOMap">
        SELECT  js.id as jsid,js.jsmc as jsmc,js.jsbm as jsbm,
        cd.id as id,cd.cdmc as name,cd.fjcd_id as parentId ,cd.cddz as url,cd.cj as level
        FROM  t_yh yh
        LEFT JOIN t_yh_js_gl ysgl ON yh.id = ysgl.yh_id
        LEFT JOIN t_js js ON ysgl.js_id = js.id
        LEFT JOIN t_js_cd_gl jcg ON jcg.js_id = js.id
        LEFT JOIN t_cd cd on jcg.cd_id = cd.id
        where yh.id=#{id}
    </select>
</mapper>
