<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.userservice.mapper.yh.YhMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.userservice.model.yh.Yh">
        <id column="id" property="id"/>
        <result column="yhm" property="yhm"/>
        <result column="mm" property="mm"/>
        <result column="yhbh" property="yhbh"/>
        <result column="zsxm" property="zsxm"/>
        <result column="lxdh" property="lxdh"/>
        <result column="yhtx" property="yhtx"/>
        <result column="yhlx" property="yhlx"/>
        <result column="yhjb" property="yhjb"/>
        <result column="jg_id" property="jgId"/>
        <result column="yhyx" property="yhyx"/>
        <result column="sfsc" property="sfsc"/>
        <result column="cjsj" property="cjsj"/>
        <result column="cjr" property="cjr"/>
        <result column="gxsj" property="gxsj"/>
        <result column="gxr" property="gxr"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , yhm, mm, yhbh, zsxm, lxdh, yhtx, yhlx, yhjb, jg_id, yhyx, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="YhDTOResultMap" type="com.itts.userservice.dto.YhDTO">
        <id column="id" property="id"/>
        <result column="yhm" property="yhm"/>
        <result column="mm" property="mm"/>
        <result column="yhbh" property="yhbh"/>
        <result column="zsxm" property="zsxm"/>
        <result column="lxdh" property="lxdh"/>
        <result column="yhtx" property="yhtx"/>
        <result column="yhlx" property="yhlx"/>
        <result column="yhjb" property="yhjb"/>
        <result column="jg_id" property="jgId"/>
        <result column="yhyx" property="yhyx"/>
        <result column="sfsc" property="sfsc"/>
        <result column="cjsj" property="cjsj"/>
        <result column="cjr" property="cjr"/>
        <result column="gxsj" property="gxsj"/>
        <result column="gxr" property="gxr"/>
        <collection property="yhjsmc" ofType="java.lang.String">
            <result column="jsmc"></result>
        </collection>
    </resultMap>

    <!-- 角色列表，包含菜单fl-->
    <resultMap id="JsDTOMap" type="com.itts.userservice.dto.JsDTO">
        <id column="jsid" property="id"/>
        <result column="jsmc" property="name"/>
        <result column="jsbm" property="code"/>
        <collection property="menuDTOList" ofType="com.itts.userservice.dto.MenuDTO">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="parentId" column="parentId"></result>
            <result property="url" column="url"></result>
            <result property="level" column="level"></result>
        </collection>
    </resultMap>


    <!-- 角色列表，包含菜单fl-->
    <select id="findByUserId" parameterType="Long" resultMap="JsDTOMap">
        SELECT js.id as jsid,
        js.jsmc as jsmc,
        js.jsbm as jsbm,
        cd.id as id,
        cd.cdmc as name,
        cd.fjcd_id as parentId,
        cd.cddz as url,
        cd.cj as level
        FROM t_yh yh
        LEFT JOIN t_yh_js_gl ysgl ON yh.id = ysgl.yh_id
        LEFT JOIN t_js js ON ysgl.js_id = js.id
        LEFT JOIN t_js_cd_gl jcg ON jcg.js_id = js.id
        LEFT JOIN t_cd cd on jcg.cd_id = cd.id
        where yh.id = #{userId}
        <if test="systemType != null and systemType != ''">
            AND js.xtlx = #{systemType}
        </if>
    </select>

    <select id="findByTypeAndGroupId" resultMap="YhDTOResultMap">
        SELECT DISTINCT(yh.id) AS did, yh.*, js.jsmc
        FROM t_yh yh
                 LEFT JOIN t_yh_js_gl yhjsgl ON yh.id = yhjsgl.yh_id
                 LEFT JOIN t_js js ON yhjsgl.js_id = js.id
        WHERE yh.sfsc = false and yhjsgl.sfsc =false
        <if test="type != null and type != ''">
            AND yh.yhlx =#{type}
        </if>
        <if test="groupIds != null and groupIds.size > 0">
            AND  yh.jg_id IN
            <foreach collection="groupIds" item="groupId" separator="," open="(" close=")">
               #{groupId}
            </foreach>
        </if>
        <if test="condition != null and condition != ''">
            AND (yh.yhm LIKE CONCAT('%', #{condition}, '%') OR yh.zsxm LIKE CONCAT('%', #{condition}, '%') OR  yh.yhbh LIKE CONCAT('%', #{condition}, '%'))
        </if>
        ORDER BY yh.cjsj DESC
    </select>

    <select id="findByString" resultMap="YhDTOResultMap">
        SELECT DISTINCT(yh.id) AS did, yh.*, js.jsmc
        FROM t_yh yh
        LEFT JOIN t_yh_js_gl yhjsgl ON yh.id = yhjsgl.yh_id
        LEFT JOIN t_js js ON yhjsgl.js_id = js.id
        WHERE yh.sfsc = false and yhjsgl.sfsc =false
        <if test="type != null and type != ''">
            AND yh.yhlx =#{type}
        </if>
        and (yh.yhm like concat('%',#{string},'%')  or yh.yhbh like concat('%',#{string},'%') )
        ORDER BY yh.cjsj DESC
    </select>
</mapper>
