<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personneltrainingservice.mapper.TPyJhMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personneltrainingservice.model.TPyJh">
        <id column="id" property="id" />
        <result column="pc_id" property="pcId" />
        <result column="xymc" property="xymc" />
        <result column="xfzt" property="xfzt" />
        <result column="pyfa" property="pyfa" />
        <result column="pyjh" property="pyjh" />
        <result column="jxdg" property="jxdg" />
        <result column="sczt" property="sczt" />
        <result column="scsj" property="scsj" />
        <result column="xfsj" property="xfsj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pc_id, xymc, xfzt, pyfa, pyjh, jxdg, sczt, scsj, xfsj
    </sql>

</mapper>
