<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.sjtxpz.SjtxpzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.sjtxpz.Sjtxpz">
        <id column="id" property="id" />
        <result column="sjpz_id" property="sjpzId" />
        <result column="txmc" property="txmc" />
        <result column="ts" property="ts" />
        <result column="dtfz" property="dtfz" />
        <result column="txzf" property="txzf" />
        <result column="px" property="px" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sjpz_id, txmc, ts, dtfz, txzf, px, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

</mapper>
