<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.tkzy.TkzyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.tkzy.Tkzy">
        <id column="id" property="id" />
        <result column="mc" property="mc" />
        <result column="kc_id" property="kcId" />
        <result column="kcmc" property="kcmc" />
        <result column="tmyjfl" property="tmyjfl" />
        <result column="tmejfl" property="tmejfl" />
        <result column="tmlx" property="tmlx" />
        <result column="fz" property="fz" />
        <result column="sfzqda" property="sfzqda" />
        <result column="ctr" property="ctr" />
        <result column="sfsj" property="sfsj" />
        <result column="sjsj" property="sjsj" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mc, kc_id, kcmc, tmyjfl, tmejfl, tmlx, fz, sfzqda, ctr, sfsj, sjsj, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

</mapper>
