<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.xxzy.XxzyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.xxzy.Xxzy">
        <id column="id" property="id"/>
        <result column="mc" property="mc"/>
        <result column="bm" property="bm"/>
        <result column="kc_id" property="kcId"/>
        <result column="fjjg_id" property="fjjgId"/>
        <result column="kcmc" property="kcmc"/>
        <result column="zylb" property="zylb"/>
        <result column="zyyjfl" property="zyyjfl"/>
        <result column="zyejfl" property="zyejfl"/>
        <result column="zylx" property="zylx"/>
        <result column="zyfx" property="zyfx"/>
        <result column="jj" property="jj"/>
        <result column="lll" property="lll"/>
        <result column="jg" property="jg"/>
        <result column="zz" property="zz"/>
        <result column="fjzy_id" property="fjzyId"/>
        <result column="zstp" property="zstp" />
        <result column="sffx" property="sffx"/>
        <result column="sfsj" property="sfsj"/>
        <result column="sjsj" property="sjsj"/>
        <result column="sfsc" property="sfsc"/>
        <result column="cjsj" property="cjsj"/>
        <result column="cjr" property="cjr"/>
        <result column="gxsj" property="gxsj"/>
        <result column="gxr" property="gxr"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mc, bm, kc_id, jg_id, kcmc, zylb, zyyjfl, zyejfl, zylx, zyfx, jj, lll, jg, zz, fjzy_id, sffx, sfsj, sjsj, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

    <select id="findByPage" resultType="com.itts.personTraining.vo.xxzy.GetXxzyVO">
             select a.*,b.fjjg_id as fjjgId from t_xxzy a left join t_kc b on a.kc_id = b.id
             <where>
                 a.sfsc = false and b.sfsc = false
                 <if test="type != null and type != ''">
                   and a.zylb = #{type}
                 </if>
                 <if test="firstCategory != null and firstCategory != ''">
                     and a.zyyjfl = #{firstCategory}
                 </if>
                 <if test="secondCategory != null and secondCategory != ''">
                     and a.zyejfl = #{secondCategory}
                 </if>
                 <if test="category != null and category != ''">
                     and a.zylx = #{category}
                 </if>
                 <if test="courseId != null and courseId != ''">
                     and a.kc_id = #{courseId}
                 </if>
                 <if test="condition != null and condition != ''">
                     and a.mc like concat('%',trim(#{condition}),'%')
                 </if>
                 <if test="fjjgId != null and fjjgId != ''">
                     and b.fjjg_id = #{fjjgId}
                 </if>
                 order by a.cjsj desc
            </where>

    </select>
    <select id="findOutPage" resultType="com.itts.personTraining.vo.xxzy.GetXxzyVO">
        select a.* from t_xxzy a
        where
            a.sfsc = false
            <if test="type != null and type != ''">
                and a.zylb = #{type}
            </if>
            <if test="firstCategory != null and firstCategory != ''">
                and a.zyyjfl = #{firstCategory}
            </if>
            <if test="secondCategory != null and secondCategory != ''">
                and a.zyejfl = #{secondCategory}
            </if>
            <if test="category != null and category != ''">
                and a.zylx = #{category}
            </if>
            <if test="courseId != null and courseId != ''">
                and a.kc_id = #{courseId}
            </if>
            <if test="condition != null and condition != ''">
                and a.mc like concat('%',trim(#{condition}),'%')
            </if>
            <if test="fjjgId != null and fjjgId != ''">
                and a.fjjg_id = #{fjjgId}
            </if>
            order by a.cjsj desc
    </select>

</mapper>
