<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.userservice.mapper.js.JsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.userservice.model.js.Js">
        <id column="id" property="id"/>
        <result column="jsmc" property="jsmc"/>
        <result column="jsbm" property="jsbm"/>
        <result column="xtlx" property="xtlx"/>
        <result column="sfnb" property="sfnb"/>
        <result column="sfmr" property="sfmr"/>
        <result column="sfsc" property="sfsc"/>
        <result column="cjsj" property="cjsj"/>
        <result column="cjr" property="cjr"/>
        <result column="gxsj" property="gxsj"/>
        <result column="gxr" property="gxr"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, jsmc, jsbm, xtlx, sfnb, sfmr, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

</mapper>
