<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.userservice.yh.mapper.TYhMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.userservice.yh.model.TYh">
        <id column="id" property="id" />
        <result column="yhm" property="yhm" />
        <result column="mm" property="mm" />
        <result column="yhbh" property="yhbh" />
        <result column="zsxm" property="zsxm" />
        <result column="lxdh" property="lxdh" />
        <result column="yhlx" property="yhlx" />
        <result column="yhjb" property="yhjb" />
        <result column="sfhy" property="sfhy" />
        <result column="hylx_id" property="hylxId" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, yhm, mm, yhbh, zsxm, lxdh, yhlx, yhjb, sfhy, hylx_id, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

</mapper>
