<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itts.technologytransactionservice.mapper.JsCgMapper">

	<select id="list" resultType="com.itts.technologytransactionservice.model.TJsCg">
		select `id`,`agreement`,`cgspmc`,`cgfj`,`cgfjmc`,`agreement_name`,`cgqsr`,`zzjgdm`,`qsrlxdh`,`cgmc`,`gjc`,`cgwcsj`,`zzqk`,`ly_id`,`cghqfs`,`jscsd`,`hjqk`,`hzjg`,`hzfs`,`dwmc`,`dz`,`fr`,`contracts`,`zj`,`dzyx`,`zscqxs`,`cgjs`,`jszb`,`syfx`,`cgtp`,`cgsp`,`bz`,`jshd_id`,`soft`,`cjjg`,`auction_status`,`cgxqtp`,`cgxqtpmc` from t_js_cg cg
        <where>
          cg.is_delete = 0
		  		  <if test="map.id != null"> and id = #{map.id} </if>
			<if test="map.soft != null"> and cg.soft  = #{map.soft} </if>
			<if test="map.cjjg != null"> and cjjg = #{map.cjjg} </if>
		  		  <if test="map.cgqsr != null and map.cgqsr != ''"> and cgqsr = #{map.cgqsr} </if>
		  		  <if test="map.qsrlxdh != null and map.qsrlxdh != ''"> and qsrlxdh = #{map.qsrlxdh} </if>
		  		  <if test="map.cgmc != null and map.cgmc != ''"> and cg.cgmc like concat('%',trim(#{map.cgmc}),'%') </if>
		  		  <if test="map.gjc != null and map.gjc != ''"> and gjc = #{map.gjc} </if>
		  		  <if test="map.cgwcsj != null and map.cgwcsj != ''"> and cgwcsj = #{map.cgwcsj} </if>
		  		  <if test="map.zzqk != null and map.zzqk != ''"> and zzqk = #{map.zzqk} </if>
		  		  <if test="map.lyId != null and map.lyId != ''"> and ly_id = #{map.lyId} </if>
					<if test="map.auctionStatus != null"> and auction_status = #{map.auctionStatus} </if>
		  		  <if test="map.cghqfs != null and map.cghqfs != ''"> and cghqfs = #{map.cghqfs} </if>
		  		  <if test="map.jscsd != null and map.jscsd != ''"> and jscsd = #{map.jscsd} </if>
		  		  <if test="map.hjqk != null and map.hjqk != ''"> and hjqk = #{map.hjqk} </if>
		  		  <if test="map.hzjg != null"> and hzjg = #{map.hzjg} </if>
		  		  <if test="map.hzfs != null and map.hzfs != ''"> and hzfs = #{map.hzfs} </if>
		  		  <if test="map.dwmc != null and map.dwmc != ''"> and dwmc = #{map.dwmc} </if>
		  		  <if test="map.dz != null and map.dz != ''"> and dz = #{map.dz} </if>
		  		  <if test="map.fr != null and map.fr != ''"> and fr = #{map.fr} </if>
		  		  <if test="map.contracts != null and map.contracts != ''"> and contracts = #{map.contracts} </if>
		  		  <if test="map.zj != null and map.zj != ''"> and zj = #{map.zj} </if>
		  		  <if test="map.dzyx != null and map.dzyx != ''"> and dzyx = #{map.dzyx} </if>
		  		  <if test="map.zscqxs != null and map.zscqxs != ''"> and zscqxs = #{map.zscqxs} </if>
		  		  <if test="map.cgjs != null and map.cgjs != ''"> and cgjs = #{map.cgjs} </if>
		  		  <if test="map.jszb != null and map.jszb != ''"> and jszb = #{map.jszb} </if>
		  		  <if test="map.syfx != null and map.syfx != ''"> and syfx = #{map.syfx} </if>
		  		  <if test="map.cgtp != null and map.cgtp != ''"> and cgtp = #{map.cgtp} </if>
		  		  <if test="map.cgsp != null and map.cgsp != ''"> and cgsp = #{map.cgsp} </if>
				<if test="map.cgspmc != null and map.cgspmc != ''"> and cgspmc = #{map.cgspmc} </if>
				<if test="map.cgfj != null and map.cgfj != ''"> and cgfj = #{map.cgfj} </if>
				<if test="map.cgfjmc != null and map.cgfjmc != ''"> and cgfjmc = #{map.cgfjmc} </if>
		  		  <if test="map.bz != null and map.bz != ''"> and bz = #{map.bz} </if>
		  		  <if test="map.jshdId != null"> and jshd_id = #{map.jshdId} </if>
		  		</where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
	</select>

	<select id="findJsCgFront" resultType="com.itts.technologytransactionservice.model.TJsCg">
		select cg.id as id,kz.dj as dj,cgspmc,cgfj,cgfjmc,cgqsr,agreement,agreement_name,zzjgdm,qsrlxdh,cgmc,gjc,cgwcsj,zzqk,ly_id,cghqfs,jscsd,hjqk,hzjg,hzfs,dwmc,dz,fr,contracts,zj,dzyx,zscqxs,cgjs,jszb,syfx,cgtp,cgsp,bz,jshd_id,release_type,lb_id,sh.fbshzt ,cg.cjsj,sh.release_status as releaseStatus,ly.mc as lyName,d.mc as lbName,cg.sjhm,sh.assistance_status,sh.release_assistance_status,sh.fbshbz as fbshbz,sh.jylx,hd.hdzt,sh.slxbbz as slxbbz,cjjg,auction_status,kz.lcdj as lcdj,cgxqtp,cgxqtpmc
		from t_js_cg cg left join t_js_ly ly on(cg.ly_id=ly.id) left join t_js_sh sh on(cg.id=sh.cg_id) left join t_js_lb d on(cg.lb_id=d.id) left join t_js_hd hd on(cg.jshd_id=hd.id) left join t_js_lc_kz kz on (cg.id = kz.cg_id)
		<where>
			cg.is_delete = 0
			<if test="map.userId != null"> and cg.user_id = #{map.userId} </if>
			<if test="map.type == 0"> and sh.fbshzt != 2 </if>
			<if test="map.type == 1"> and sh.fbshzt = 2 and sh.assistance_status != 2 </if>
			<if test="map.fbshzt != null"> and sh.fbshzt = #{map.fbshzt} </if>
			<if test="map.lyId != null and map.lyId != ''"> and cg.ly_id = #{map.lyId} </if>
			<if test="map.auctionStatus != null"> and cg.auction_status = #{map.auctionStatus} </if>
			<if test="map.lbId != null and map.lbId != ''"> and cg.lb_id = #{map.lbId} </if>
			<if test="map.cgId != null and map.cgId != ''"> and sh.cg_id = #{map.cgId} </if>
			<if test="map.cjjg != null"> and cg.cjjg = #{map.cjjg} </if>
			<if test="map.xqId != null and map.xqId != ''"> and sh.xq_id = #{map.xqId} </if>
			<if test="map.cgmc != null and map.cgmc != ''"> and cg.cgmc like concat('%',trim(#{map.cgmc}),'%') </if>
			<if test="map.cgspmc != null and map.cgspmc != ''"> and cg.cgspmc = concat('%',#{map.cgspmc},'%') </if>
			<if test="map.cgfjmc != null and map.cgfjmc != ''"> and cg.cgfjmc = concat('%',#{map.cgfjmc},'%') </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and cg.cjsj = #{map.cjsj} </if>
			<if test="map.releaseStatus != null"> and sh.release_status = #{map.releaseStatus} </if>
			<if test="map.jylx != null"> and sh.jylx = #{map.jylx} </if>
			<if test="map.assistanceStatus != null"> and sh.assistance_status = #{map.assistanceStatus} </if>
			<if test="map.releaseAssistanceStatus != null"> and sh.release_assistance_status = #{map.releaseAssistanceStatus} </if>
			<if test="map.jshdId != null"> and jshd_id = #{map.jshdId} </if>
		</where>
	<choose>
		<when test="map.sort != null and map.sort.trim() != ''">
			order by ${map.sort} ${map.order}
		</when>
		<otherwise>
			order by id desc
		</otherwise>
	</choose>
</select>

	<select id="findJsCg" resultType="com.itts.technologytransactionservice.model.TJsCg">
		select cg.id as id,cgspmc,cgfj,cgfjmc,user_id,agreement,agreement_name,zzjgdm,cgqsr,qsrlxdh,cgmc,gjc,cgwcsj,zzqk,ly_id,cghqfs,jscsd,hjqk,hzjg,hzfs,dwmc,dz,fr,contracts,zj,dzyx,zscqxs,cgjs,jszb,syfx,cgtp,cgsp,bz,jshd_id,release_type,lb_id,sh.fbshzt ,cg.cjsj,sh.release_status as releaseStatus,ly.mc as lyName,cg.sjhm,sh.assistance_status,sh.release_assistance_status,sh.jylx,lb.mc as lbName,sh.fbshbz,sh.slxbbz as slxbbz,cg.soft,cjjg,auction_status,sh.jszt as jszt,kz.lcdj as lcdj,cgxqtp,cgxqtpmc
		from t_js_cg cg left join t_js_ly ly on(cg.ly_id=ly.id) left join t_js_sh sh on(cg.id=sh.cg_id) left join t_js_lb lb on(cg.lb_id=lb.id) left join t_js_lc_kz kz on (cg.id = kz.cg_id)
		<where>
			cg.is_delete != 2
            <if test="map.zgzt == 0"> and (sh.fbshzt = 3 or sh.fbshzt = 5) </if>
			<if test="map.zgzt == 2"> and (sh.fbshzt = 1 or sh.fbshzt = 5) </if>
			<if test="map.zgzt == 3"> and (sh.assistance_status = 1 or sh.assistance_status = 5) </if>
            <if test="map.zgzt == 1"> and (sh.assistance_status = 3 or sh.assistance_status = 5) </if>
			<if test="map.type == 1"> and cg.user_id = #{map.userId} </if>
			<if test="map.lyId != null and map.lyId != ''"> and cg.ly_id = #{map.lyId} </if>
			<if test="map.auctionStatus != null"> and cg.auction_status = #{map.auctionStatus} </if>
			<if test="map.soft != null"> and cg.soft  = #{map.soft} </if>
			<if test="map.lbId != null and map.lbId != ''"> and cg.lb_id = #{map.lbId} </if>
			<if test="map.cgId != null and map.cgId != ''"> and cg.id = #{map.cgId} </if>
			<if test="map.cjjg != null"> and cg.cjjg = #{map.cjjg} </if>
			<if test="map.cgmc != null and map.cgmc != ''"> and cg.cgmc like concat('%',trim(#{map.cgmc}),'%') </if>
			<if test="map.cgspmc != null and map.cgspmc != ''"> and cg.cgspmc = concat('%',#{map.cgspmc},'%') </if>
			<if test="map.cgfjmc != null and map.cgfjmc != ''"> and cg.cgfjmc = concat('%',#{map.cgfjmc},'%') </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and cg.cjsj = #{map.cjsj} </if>
			<if test="map.fbshzt != null"> and sh.fbshzt = #{map.fbshzt} </if>
			<if test="map.releaseStatus != null and map.releaseStatus != ''"> and sh.release_status = #{map.releaseStatus} </if>
			<if test="map.jylx != null"> and sh.jylx = #{map.jylx} </if>

			<if test="map.assistanceStatus != null and map.assistanceStatus != ''"> and sh.assistance_status = #{map.assistanceStatus} </if>
			<if test="map.releaseAssistanceStatus != null and map.releaseAssistanceStatus != ''"> and sh.release_assistance_status = #{map.releaseAssistanceStatus} </if>
			<if test="map.type == 0"> and cg.user_id != #{map.userId} </if>
			<if test="map.type == 2"> and cg.user_id is null </if>
			<if test="map.jshdId != null"> and cg.jshd_id = #{map.jshdId} </if>
			<!-- 检索所有关联活动为空的技术需求-->
			<if test="map.addActivity == 0"> and (cg.jshd_id IS NULL or cg.auction_status = 3) </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>
	<!--归档清算用-->
	<select id="findGdJsCg" resultType="com.itts.technologytransactionservice.model.TJsCg">
		select cg.id as id,cgspmc,cgfj,cgfjmc,cg.user_id as userId,agreement,agreement_name,zzjgdm,cgqsr,qsrlxdh,cgmc,gjc,cgwcsj,zzqk,ly_id,cghqfs,jscsd,hjqk,hzjg,hzfs,cg.dwmc as dwmc,cg.dz as dz,cg.fr as fr,cg.contracts as contracts,cg.zj as zj,cg.dzyx as dzyx,cg.zscqxs as zscqxs,cg.cgjs as cgjs,cg.jszb as jszb,cg.syfx as syfx,cg.cgtp as cgtp,cg.cgsp as cgsp,cg.bz as bz,cg.jshd_id as jshd_id,cg.release_type as release_type,cg.lb_id as lb_id,sh.fbshzt ,cg.cjsj,sh.release_status as releaseStatus,cg.sjhm,sh.assistance_status,sh.release_assistance_status,sh.jylx,sh.fbshbz,sh.slxbbz as slxbbz,cg.soft,cjjg,auction_status,sh.jszt as jszt,kz.fwf as fwf,kz.lcdj as lcdj,ly.mc as lyName,bm.dwmc as srfmc,bm.sjhm as srfhm,hd.hdmc as hdmc,cgxqtp,cgxqtpmc
		from t_js_cg cg  left join t_js_sh sh on(cg.id=sh.cg_id) left join t_js_lc_kz kz on(kz.cg_id=cg.id) left join t_js_ly ly on(cg.ly_id=ly.id) left join t_js_bm bm on (bm.id = kz.bm_id) left join t_js_hd hd on (hd.id = cg.jshd_id)
		<where>
			cg.is_delete != 2
			<if test="map.type == 1"> and cg.user_id = #{map.userId} </if>
			<if test="map.lyId != null and map.lyId != ''"> and cg.ly_id = #{map.lyId} </if>
			<if test="map.auctionStatus != null"> and cg.auction_status = #{map.auctionStatus} </if>
			<if test="map.soft != null"> and cg.soft  = #{map.soft} </if>
			<if test="map.lbId != null and map.lbId != ''"> and cg.lb_id = #{map.lbId} </if>
			<if test="map.cgId != null and map.cgId != ''"> and cg.id = #{map.cgId} </if>
			<if test="map.cjjg != null"> and cg.cjjg = #{map.cjjg} </if>
			<if test="map.cgmc != null and map.cgmc != ''"> and cg.cgmc like concat('%',trim(#{map.cgmc}),'%') </if>
			<if test="map.cgspmc != null and map.cgspmc != ''"> and cg.cgspmc = concat('%',#{map.cgspmc},'%') </if>
			<if test="map.cgfjmc != null and map.cgfjmc != ''"> and cg.cgfjmc = concat('%',#{map.cgfjmc},'%') </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and cg.cjsj = #{map.cjsj} </if>
			<if test="map.fbshzt != null"> and sh.fbshzt = #{map.fbshzt} </if>
			<if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
			<if test="map.releaseStatus != null and map.releaseStatus != ''"> and sh.release_status = #{map.releaseStatus} </if>
			<if test="map.jylx != null"> and sh.jylx = #{map.jylx} </if>
			<if test="map.assistanceStatus != null and map.assistanceStatus != ''"> and sh.assistance_status = #{map.assistanceStatus} </if>
			<if test="map.releaseAssistanceStatus != null and map.releaseAssistanceStatus != ''"> and sh.release_assistance_status = #{map.releaseAssistanceStatus} </if>
			<if test="map.type == 0"> and cg.user_id != #{map.userId} </if>
			<if test="map.jshdId != null"> and cg.jshd_id = #{map.jshdId} </if>
			<!-- 检索所有关联活动为空的技术需求-->
			<if test="map.addActivity == 0"> and (cg.jshd_id IS NULL or cg.auction_status = 3) </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>
	<select id="findHdJsCg" resultType="com.itts.technologytransactionservice.model.TJsCg">
		select cg.id as id,cgspmc,cgfj,cgfjmc,cg.user_id as userId,agreement,agreement_name,zzjgdm,cgqsr,qsrlxdh,cgmc,gjc,cgwcsj,zzqk,ly_id,cghqfs,jscsd,hjqk,hzjg,hzfs,dwmc,dz,fr,contracts,zj,dzyx,zscqxs,cgjs,jszb,syfx,cgtp,cgsp,bz,jshd_id,release_type,lb_id,cg.cjsj,cg.sjhm,cg.soft,cjjg,auction_status,cgxqtp,cgxqtpmc
		from t_js_cg cg left join t_js_hd hd on (cg.jshd_id = hd.id)
		<where>
			cg.is_delete != 2
			<if test="map.jshdId != null and map.jshdId != ''"> and cg.jshd_id  = #{map.jshdId} </if>
			<if test="map.type == 1"> and cg.user_id = #{map.userId} </if>
			<if test="map.lyId != null and map.lyId != ''"> and cg.ly_id = #{map.lyId} </if>
			<if test="map.auctionStatus != null"> and cg.auction_status = #{map.auctionStatus} </if>
			<if test="map.soft != null"> and cg.soft  = #{map.soft} </if>
			<if test="map.lbId != null and map.lbId != ''"> and cg.lb_id = #{map.lbId} </if>
			<if test="map.cgId != null and map.cgId != ''"> and cg.id = #{map.cgId} </if>
			<if test="map.cjjg != null"> and cg.cjjg = #{map.cjjg} </if>
			<if test="map.cgmc != null and map.cgmc != ''"> and cg.cgmc like concat('%',trim(#{map.cgmc}),'%') </if>
			<if test="map.cgspmc != null and map.cgspmc != ''"> and cg.cgspmc = concat('%',#{map.cgspmc},'%') </if>
			<if test="map.cgfjmc != null and map.cgfjmc != ''"> and cg.cgfjmc = concat('%',#{map.cgfjmc},'%') </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and cg.cjsj = #{map.cjsj} </if>
			<if test="map.type == 0"> and cg.user_id != #{map.userId} </if>
			<if test="map.jshdId != null"> and cg.jshd_id = #{map.jshdId} </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>
    <select id="findByJsCgIds" resultType="com.itts.technologytransactionservice.model.TJsCg">
		select *
		from t_js_cg tjc
		where tjc.is_delete = false and tjc.id in
		<foreach item="id" collection="ids" index="index" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

    <update id="updateTJsCg">
		update t_js_cg
		<set>
			<if test="cgmc != null">cgmc = #{cgmc},</if>
			<if test="cgqsr != null">cgqsr = #{cgqsr},</if>
			<if test="qsrlxdh != null">qsrlxdh = #{qsrlxdh},</if>
			<if test="gjc != null">gjc = #{gjc},</if>
			<if test="cgwcsj != null">cgwcsj = #{cgwcsj},</if>
			<if test="zzqk != null">zzqk = #{zzqk},</if>
			<if test="lyId != null">ly_id = #{lyId},</if>
			<if test="auctionStatus != null">auction_status = #{auctionStatus},</if>
			<if test="lbId != null">lb_id = #{lbId},</if>
			<if test="cghqfs != null">cghqfs = #{cghqfs},</if>
			<if test="jscsd != null">jscsd = #{jscsd},</if>
			<if test="hjqk != null">hjqk = #{hjqk},</if>
			<if test="hzjg != null">hzjg = #{hzjg},</if>
			<if test="hzfs != null">hzfs = #{hzfs},</if>
			<if test="dwmc != null">dwmc = #{dwmc},</if>
			<if test="fr != null">fr = #{fr},</if>
			<if test="contracts != null">contracts = #{contracts},</if>
			<if test="zj != null">zj = #{zj},</if>
			<if test="dzyx != null">dzyx = #{dzyx},</if>
			<if test="zscqxs != null">zscqxs = #{zscqxs},</if>
			<if test="cgjs != null">cgjs = #{cgjs},</if>
			<if test="jszb != null">jszb = #{jszb},</if>
			<if test="syfx != null">syfx = #{syfx},</if>
			<if test="cgtp != null">cgtp = #{cgtp},</if>
			<if test="cgsp != null">cgsp = #{cgsp},</if>
			<if test="cgspmc != null">cgspmc = #{cgspmc},</if>
			<if test="cgfj != null">cgfj = #{cgfj},</if>
			<if test="cgfjmc != null">cgfjmc = #{cgfjmc},</if>
			<if test="bz != null">bz = #{bz},</if>
			<if test="jshdId != null">jshd_id = #{jshdId},</if>
			<if test="isDelete != null">is_delete = #{isDelete},</if>
			<if test="zzjgdm != null">zzjgdm = #{zzjgdm},</if>
			<if test="sjhm != null">sjhm = #{sjhm},</if>
			<if test="dz != null">dz = #{dz},</if>
			<if test="agreement != null">agreement = #{agreement},</if>
			<if test="agreementName != null">agreement_name = #{agreementName},</if>
			<if test="cjsj != null">cjsj = #{cjsj},</if>
			<if test="soft != null">soft = #{soft},</if>
			<if test="auctionStatus != null">auction_status = #{auctionStatus},</if>
			<if test="cgxqtp != null">cgxqtp = #{cgxqtp},</if>
			<if test="cgxqtpmc != null">cgxqtpmc = #{cgxqtpmc},</if>
			<if test="cjjg != null">cjjg = #{cjjg},</if>
			<if test="gxsj != null">gxsj = #{gxsj}</if>
		</set>
		where id = #{id}
	</update>
</mapper>