<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itts.technologytransactionservice.mapper.JsHdMapper">

	<select id="list" resultType="com.itts.technologytransactionservice.model.TJsHd">
		select hd.id,hd.hdmc,hd.hdlx,hd.hdjj,hd.hdgz,hd.hdkssj,hd.hdjssj,hd.hdzt,hd.cjsj,hd.zxdh,hd.hdfzr,hd.hdnr,hd.hdfbzt,hd.bmrs,hd.hdfs,hd.hdtp,hd.hddqsj,hd.is_bm
		from t_js_hd hd
        <where>
			hd.is_delete = 0
			<if test="map.userId != null">
				and hd.id in (
				SELECT	bm.hd_id
				FROM
				t_js_bm bm
				LEFT JOIN
				t_js_hd hd
				ON (bm.hd_id = hd.id)
				where bm.user_id = #{map.userId}
				)
			 </if>
		  		  <if test="map.id != null"> and hd.id = #{map.id} </if>
			      <if test="map.hdlx != null"> and hd.hdlx = #{map.hdlx} </if>
		  		  <if test="map.name != null and map.name != ''"> and hd.hdmc = #{map.name} </if>
			      <if test="map.hdtp != null and map.hdtp != ''"> and hd.hdtp = #{map.hdtp} </if>
		  		  <if test="map.hdjj != null and map.hdjj != ''"> and hd.hdjj = #{map.hdjj} </if>
		  		  <if test="map.hdgz != null and map.hdgz != ''"> and hd.hdgz = #{map.hdgz} </if>
		  		  <if test="map.hdkssj != null and map.hdkssj != ''"> and hd.hdkssj = #{map.hdkssj} </if>
		  		  <if test="map.hdjssj != null and map.hdjssj != ''"> and hd.hdjssj = #{map.hdjssj} </if>
		  		  <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
					<if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
		  		  <if test="map.cjsj != null and map.cjsj != ''"> and hd.cjsj = #{map.cjsj} </if>
			      <if test="map.hdfs != null"> and hd.hdfs = #{map.hdfs} </if>
			      <if test="map.isBm != null"> and hd.is_bm = #{map.isBm} </if>
		  		</where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
	</select>
	<!-- 判断报名人数-->
	<select id="listCount" resultType="com.itts.technologytransactionservice.model.TJsHd">
		select hd.id,hd.hdmc,hd.hdlx,hd.hdjj,hd.hdgz,hd.hdkssj,hd.hdjssj,hd.hdzt,hd.cjsj,hd.zxdh,hd.hdfzr,hd.hdnr,hd.hdfbzt,hd.hdfs,hd.hdtp,hd.hddqsj,count(DISTINCT bm.id) as bmrs,hd.is_bm
		from t_js_hd hd LEFT JOIN t_js_bm bm on (hd.id = bm.hd_id)
		<where>
			hd.is_delete = 0
			<if test="map.userId != null">and bm.user_id= #{map.userId}</if>
			<if test="map.hdlx != null"> and hd.hdlx = #{map.hdlx} </if>
			<if test="map.name != null and map.name != ''"> and hd.hdmc = #{map.name} </if>
			<if test="map.hdtp != null and map.hdtp != ''"> and hd.hdtp = #{map.hdtp} </if>
			<if test="map.hdjj != null and map.hdjj != ''"> and hd.hdjj = #{map.hdjj} </if>
			<if test="map.hdgz != null and map.hdgz != ''"> and hd.hdgz = #{map.hdgz} </if>
			<if test="map.hdkssj != null and map.hdkssj != ''"> and hd.hdkssj = #{map.hdkssj} </if>
			<if test="map.hdjssj != null and map.hdjssj != ''"> and hd.hdjssj = #{map.hdjssj} </if>
			<if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and hd.cjsj = #{map.cjsj} </if>
			<if test="map.hdfs != null"> and hd.hdfs = #{map.hdfs} </if>
			<if test="map.isBm != null"> and hd.is_bm = #{map.isBm} </if>
			<if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
		</where>
		GROUP BY hd.id
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by hd.id desc
			</otherwise>
		</choose>
	</select>
	<select id="listHdBm" resultType="com.itts.technologytransactionservice.model.TJsHd">
		SELECT	hd.id,hd.hdmc,hd.hdlx,hd.hdjj,hd.hdgz,hd.hdkssj,hd.hdjssj,hd.hdzt,hd.cjsj,hd.zxdh,hd.hdfzr,hd.hdnr,hd.hdfbzt,hd.bmrs,hd.hdfs,hd.hdtp,hd.hddqsj,hd.is_bm
		FROM
		t_js_hd hd
		LEFT JOIN (
		SELECT
		*
		FROM
		t_js_bm bm
		GROUP BY
		bm.hd_id,bm.id
		) bms ON (bms.hd_id = hd.id)
		<where>
			hd.is_delete = 0
			<if test="map.userId != null and map.userId != ''"> and bms.user_id = #{map.userId} </if>
			<if test="map.id != null and map.id != ''"> and hd.id = #{map.id} </if>
			<if test="map.hdtp != null and map.hdtp != ''"> and hd.hdtp = #{map.hdtp} </if>
			<if test="map.name != null and map.name != ''"> and hd.hdmc = #{map.name} </if>
			<if test="map.hdlx != null and map.hdlx != ''"> and hd.hdlx = #{map.hdlx} </if>
			<if test="map.hdjj != null and map.hdjj != ''"> and hd.hdjj = #{map.hdjj} </if>
			<if test="map.hdgz != null and map.hdgz != ''"> and hd.hdgz = #{map.hdgz} </if>
			<if test="map.hdkssj != null and map.hdkssj != ''"> and hd.hdkssj = #{map.hdkssj} </if>
			<if test="map.hdjssj != null and map.hdjssj != ''"> and hd.hdjssj = #{map.hdjssj} </if>
			<if test="map.hdzt != null and map.hdzt != ''"> and hd.hdzt = #{map.hdzt} </if>
			<if test="map.hdfs != null and map.hdfs != ''"> and hd.hdfs = #{map.hdfs} </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and hd.cjsj = #{map.cjsj} </if>
			<if test="map.isBm != null"> and hd.is_bm = #{map.isBm} </if>
			<if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>

</mapper>