<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itts.technologytransactionservice.mapper.JsShMapper">
	<update id="updateJsSh">
		UPDATE
			t_js_sh sh
			<if test="cgId != null"> left join t_js_cg cg on cg.id = sh.cg_id </if>
			<if test="xqId != null"> left join t_js_xq xq on xq.id = sh.xq_id </if>
		<set>
			<if test="cgId != null"> cg.is_delete = 1,</if>
			<if test="xqId != null"> xq.is_delete = 1,</if>
			sh.is_delete = 1
		</set>
		Where
			<if test="xqId != null">xq_id = #{xqId} and sh.xq_id = #{xqId} </if>
			<if test="cgId != null">cg_id = #{cgId} and sh.cg_id = #{cgId} </if>
	</update>

	<select id="list" resultType="com.itts.technologytransactionservice.model.TJsSh">
		select `id`,`lx`,`cgxq_id`,`fbshzt`,`hdsqzt`,`fbwtgsm`,`hdsqwtgsm`,`cjsj`,`gxsj`,`release_assistance_status`,`assistance_status`,`assistance_remark` from t_js_sh
        <where>  
		  		  <if test="map.id != null and map.id != ''"> and id = #{map.id} </if>
		  		  <if test="map.lx != null and map.lx != ''"> and lx = #{map.lx} </if>
		  		  <if test="map.cgxqId != null and map.cgxqId != ''"> and cgxq_id = #{map.cgxqId} </if>
		  		  <if test="map.fbshzt != null and map.fbshzt != ''"> and fbshzt = #{map.fbshzt} </if>
		  		  <if test="map.hdsqzt != null and map.hdsqzt != ''"> and hdsqzt = #{map.hdsqzt} </if>
		  		  <if test="map.fbwtgsm != null and map.fbwtgsm != ''"> and fbwtgsm = #{map.fbwtgsm} </if>
		  		  <if test="map.hdsqwtgsm != null and map.hdsqwtgsm != ''"> and hdsqwtgsm = #{map.hdsqwtgsm} </if>
		  		  <if test="map.cjsj != null and map.cjsj != ''"> and cjsj = #{map.cjsj} </if>
		  		  <if test="map.gxsj != null and map.gxsj != ''"> and gxsj = #{map.gxsj} </if>
		  		</where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
	</select>
<insert id="save" parameterType="Long">
	INSERT INTO  t_js_sh(lx,cgxq_id,fbshzt,cjsj,gxsj) VALUES(2,#{id},1,NOW(),NOW())
</insert>
	<select id="selectBycgxqIds" resultType="com.itts.technologytransactionservice.model.TJsSh">
		select * from t_js_sh where cgxq_id in
		<foreach item="cgxqId" collection="cgxqIds" index="index" open="(" separator="," close=")">
			#{cgxqId}
		</foreach>
	</select>
	<select id="selectBycgIds" resultType="com.itts.technologytransactionservice.model.TJsSh">
		select * from t_js_sh where cg_id in
		<foreach item="cgId" collection="cgIds" index="index" open="(" separator="," close=")">
			#{cgId}
		</foreach>
	</select>
	<select id="selectByxqIds" resultType="com.itts.technologytransactionservice.model.TJsSh">
		select * from t_js_sh where xq_id in
		<foreach item="xqId" collection="xqIds" index="index" open="(" separator="," close=")">
			#{xqId}
		</foreach>
	</select>
	<select id="selectByCgIds" resultType="com.itts.technologytransactionservice.model.TJsSh">
		select * from t_js_sh where cg_id in
		<foreach item="cgId" collection="cgIds" index="index" open="(" separator="," close=")">
			#{cgId}
		</foreach>
	</select>
	<select id="selectByXqIds" resultType="com.itts.technologytransactionservice.model.TJsSh">
		select * from t_js_sh where xq_id in
		<foreach item="xqId" collection="xqIds" index="index" open="(" separator="," close=")">
			#{xqId}
		</foreach>
	</select>


</mapper>