<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itts.technologytransactionservice.mapper.JsXqMapper">

	<select id="findJsXq" resultType="com.itts.technologytransactionservice.model.TJsXq">
		select xq.id as id,xqmc,xqfj,xqfjmc,xqspmc,sjhm,zzjgdm,agreement,agreementName,gjz,yxq,ly_id,lb_id,hzfs,hzjg,yxhzdw,yxhzzj,xqxq,jszb,xqtp,xqsp,dwmc,dz,fr,contracts,lxrdh,zj,dzyx,jshd_id,release_type,introduction,sh.fbshzt as fbshzt,xq.cjsj as cjsj,sh.release_status as releaseStatus,ly.mc as lyName,lb.mc as lbName,xq.remarks,sh.assistance_status,sh.jylx,sh.release_assistance_status,sh.fbshbz as fbshbz,sh.slxbbz as slxbbz
		from t_js_xq xq left join t_js_ly ly on(xq.ly_id=ly.id) left join t_js_lb lb on(xq.lb_id=lb.id) left join t_js_sh sh on(xq.id=sh.xq_id)
		<where>
		<!--后台能查询0或者1的数据 -->
		    xq.is_delete != 2
			<if test="map.type == 1"> and xq.user_id = #{map.userId} </if>
			<if test="map.lyId != null and map.lyId != ''"> and xq.ly_id = #{map.lyId} </if>
			<if test="map.lbId != null and map.lbId != ''"> and xq.lb_id = #{map.lbId} </if>
			<if test="map.jshdId != null and map.jshdId != ''"> and xq.jshd_id = #{map.jshdId} </if>
			<if test="map.cgId != null and map.cgId != ''"> and sh.cg_id = #{map.cgId} </if>
			<if test="map.xqId != null and map.xqId != ''"> and sh.xq_id = #{map.xqId} </if>
			<if test="map.xqmc != null and map.xqmc != ''"> and xq.xqmc like concat('%',#{map.xqmc},'%') </if>
			<if test="map.xqspmc != null and map.xqspmc != ''"> and xq.xqspmc = concat('%',#{map.xqspmc},'%') </if>
			<if test="map.xqfjmc != null and map.xqfjmc != ''"> and xq.xqfjmc = concat('%',#{map.xqfjmc},'%') </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and xq.cjsj = #{map.cjsj} </if>
			<if test="map.fbshzt != null and map.fbshzt != ''"> and sh.fbshzt = #{map.fbshzt} </if>
			<if test="map.releaseStatus != null and map.releaseStatus != ''"> and d.release_status = #{map.releaseStatus} </if>
			<if test="map.jylx != null and map.jylx != ''"> and sh.jylx = #{map.jylx} </if>
			<if test="map.assistanceStatus != null and map.assistanceStatus != ''"> and sh.assistance_status = #{map.assistanceStatus} </if>
			<if test="map.releaseAssistanceStatus != null and map.releaseAssistanceStatus != ''"> and sh.release_assistance_status = #{map.releaseAssistanceStatus} </if>
			<if test="map.type == 0"> and xq.user_id != #{map.userId} </if>
			 <!-- 检索所有关联活动为空的技术需求-->
			<if test="map.addActivity == 0"> and xq.jshd_id IS NULL </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>
	<select id="PageByTJsFb" resultType="com.itts.technologytransactionservice.model.TJsFb">
		SELECT
		a.id AS id,a.xqmc as name,a.release_type as releaseType,b.mc as lyName,a.hzjg,a.dz,d.cjsj as applyTime,d.jylx as jylx,a.xqtp as tp,a.ly_id as lyId
		FROM
		t_js_xq a
		LEFT JOIN t_js_ly b ON (a.ly_id = b.id)
		LEFT JOIN t_js_lb c ON (a.lb_id = c.id)
		LEFT JOIN t_js_sh d ON (a.id = d.xq_id)
		<where>
		    a.is_delete = 0
			<if test="map.name != null and map.name != ''"> and a.xqmc = #{map.name} </if>
			<if test="map.jylx != null and map.jylx != ''"> and d.jylx = #{map.jylx} </if>
			<if test="map.lyId != null and map.lyId != ''"> and a.ly_id = #{map.lyId} </if>
		</where>
		UNION
		SELECT
		e.id AS id,e.cgmc as name,e.release_type as releaseType,b.mc as lyName,e.hzjg,e.dz,d.cjsj as applyTime,d.jylx as jylx,e.cgtp as tp,e.ly_id as lyId
		FROM
		t_js_cg e
		LEFT JOIN t_js_ly b ON (e.ly_id = b.id)
		LEFT JOIN t_js_sh d ON (e.id = d.cg_id)
		<where>
		    e.is_delete = 0
			<if test="map.lyId != null and map.lyId != ''"> and e.ly_id = #{map.lyId} </if>
			<if test="map.name != null and map.name != ''"> and e.cgmc = #{map.name} </if>
			<if test="map.jylx != null and map.jylx != ''"> and d.jylx = #{map.jylx} </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>

	<select id="findJsXqFront" resultType="com.itts.technologytransactionservice.model.TJsXq">
		select xq.id as id,xqmc,xqfj,xqfjmc,xqspmc,sjhm,agreement,agreementName,gjz,zzjgdm,yxq,ly_id,lb_id,hzfs,hzjg,yxhzdw,yxhzzj,xqxq,jszb,xqtp,xqsp,dwmc,dz,fr,contracts,lxrdh,zj,dzyx,jshd_id,release_type,introduction,sh.fbshzt as fbshzt,xq.cjsj as cjsj,sh.release_status as releaseStatus,ly.mc as lyName,lb.mc as lbName,sh.assistance_status,sh.release_assistance_status,sh.fbshbz,xq.remarks,sh.jylx,hd.hdzt,sh.slxbbz as slxbbz
		from t_js_xq xq left join t_js_ly ly on(xq.ly_id=ly.id) left join t_js_lb lb on(xq.lb_id=lb.id) left join t_js_sh sh on(xq.id=sh.xq_id) left join t_js_hd hd on(xq.jshd_id=hd.id)
		<where>
			xq.is_delete = 0
			<if test="map.userId != null and map.userId != ''"> and xq.user_id = #{map.userId} </if>
			<if test="map.type == 0"> and sh.fbshzt != 2 </if>
			<if test="map.type == 1"> and sh.fbshzt = 2 and sh.assistance_status != 2 </if>
			<if test="map.lyId != null and map.lyId != ''"> and xq.ly_id = #{map.lyId} </if>
			<if test="map.lbId != null and map.lbId != ''"> and xq.lb_id = #{map.lbId} </if>
			<if test="map.cgId != null and map.cgId != ''"> and sh.cg_id = #{map.cgId} </if>
			<if test="map.xqId != null and map.xqId != ''"> and sh.xq_id = #{map.xqId} </if>
			<if test="map.xqmc != null and map.xqmc != ''"> and xq.xqmc = concat('%',#{map.xqmc},'%') </if>
			<if test="map.xqspmc != null and map.xqspmc != ''"> and xq.xqspmc = concat('%',#{map.xqspmc},'%') </if>
			<if test="map.xqfjmc != null and map.xqfjmc != ''"> and xq.xqfjmc = concat('%',#{map.xqfjmc},'%') </if>
			<if test="map.cjsj != null and map.cjsj != ''"> and xq.cjsj = #{map.cjsj} </if>
			<if test="map.jylx != null and map.jylx != ''"> and sh.jylx = #{map.jylx} </if>
			<if test="map.assistanceStatus != null and map.assistanceStatus != ''"> and sh.assistance_status = #{map.assistanceStatus} </if>
			<if test="map.releaseStatus != null and map.releaseStatus != ''"> and sh.release_status = #{map.releaseStatus} </if>
			<if test="map.releaseAssistanceStatus != null and map.releaseAssistanceStatus != ''"> and sh.release_assistance_status = #{map.releaseAssistanceStatus} </if>
		</where>
		<choose>
			<when test="map.sort != null and map.sort.trim() != ''">
				order by ${map.sort} ${map.order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>

	<update id="updateTJsXq">
		update t_js_xq
		<set>
			<if test="xqmc != null">xqmc = #{xqmc},</if>
			<if test="gjz != null">gjz = #{gjz},</if>
			<if test="yxq != null">yxq = #{yxq},</if>
			<if test="lbId != null">lb_id = #{lbId},</if>
			<if test="lyId != null">ly_id = #{lyId},</if>
			<if test="hzfs != null">hzfs = #{hzfs},</if>
			<if test="hzjg != null">hzjg = #{hzjg},</if>
			<if test="yxhzdw != null">yxhzdw = #{yxhzdw},</if>
			<if test="yxhzzj != null">yxhzzj = #{yxhzzj},</if>
			<if test="xqxq != null">xqxq = #{xqxq},</if>
			<if test="jszb != null">jszb = #{jszb},</if>
			<if test="xqtp != null">xqtp = #{xqtp},</if>
			<if test="xqsp != null">xqsp = #{xqsp},</if>
			<if test="xqspmc != null">xqspmc = #{xqspmc},</if>
			<if test="xqfj != null">xqfj = #{xqfj},</if>
			<if test="xqfjmc != null">xqfjmc = #{xqfjmc},</if>
			<if test="dwmc != null">dwmc = #{dwmc},</if>
			<if test="fr != null">fr = #{fr},</if>
			<if test="lxrdh != null">lxrdh = #{lxrdh},</if>
			<if test="zj != null">zj = #{zj},</if>
			<if test="dzyx != null">dzyx = #{dzyx},</if>
			<if test="jshdId != null">jshd_id = #{jshdId},</if>
			<if test="zzjgdm != null">zzjgdm = #{zzjgdm},</if>
			<if test="isDelete != null">is_delete = #{isDelete},</if>
			<if test="contracts != null">contracts = #{contracts},</if>
			<if test="dz != null">dz = #{dz},</if>
			<if test="releaseType != null">release_type = #{releaseType},</if>
			<if test="agreement != null">agreement = #{agreement},</if>
			<if test="agreementName != null">agreementName = #{agreementName},</if>
			<if test="bond != null">bond = #{bond},</if>
			<if test="introduction != null">introduction = #{introduction},</if>
			<if test="remarks != null">remarks = #{remarks}</if>
			<if test="cjsj != null">cjsj = #{cjsj}</if>
			<if test="gxsj != null">gxsj = #{gxsj}</if>
		</set>
		where id = #{id}
	</update>
	

</mapper>