<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyHdMapper">

    <select id="findLyHd" resultType="com.itts.technologytransactionservice.model.LyHdDto">
        select
        hd.id,
        hd.cjsj,
        hd.gxsj,
        hd.hdmc,
        hd.hdjj,
        hd.hdtp,
        hd.hdtpmc,
        hd.bmjzsj,
        hd.hdzt,
        hd.bmkssj,
        hd.hdjssj,
        hd.hdkssj,
        hd.hdfbzt,
        hd.hdnr,
        hd.lyqy,
        hd.czqy,
        hd.zplb,
        hd.zxdh,
        hd.hdgz,
        hd.hdlbt,
        hd.hdxq,
        hd.fwbnr,
        hz.id as hz_id
        FROM
        t_ly_hd hd LEFT JOIN t_ly_hz hz on (hz.hd_id = hd.id)
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.hztype !=null and map.hztype == 0">and (hd.hzmc != null and hd.hzmc != '')</if>
            <if test="map.hdmc != null"> and hd.hdmc like concat('%',trim(#{map.hdmc}),'%') </if>
            <if test="map.selectType != null and map.selectType == 0"> and hz.id is null </if>
            <if test="map.selectType != null and map.selectType == 1"> and (hz.id is null or hz.id = #{map.hzId}) </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
            <if test="map.zxdh != null"> and hd.zxdh = #{map.zxdh} </if>
            <if test="map.hdgz != null"> and hd.hdgz = #{map.hdgz} </if>
            <if test="map.hdlbt != null"> and hd.hdlbt = #{map.hdlbt} </if>
            <if test="map.hdxq != null"> and hd.hdxq = #{map.hdxq} </if>
            <if test="map.hzjs != null"> and hd.hzjs = #{map.hzjs} </if>
            <if test="map.hztp != null"> and hd.hztp = #{map.hztp} </if>
            <if test="map.hztpmc != null"> and hd.hztpmc = #{map.hztpmc} </if>
            <if test="map.hzmc != null"> and hd.hzmc = #{map.hzmc} </if>
            <if test="map.fjjgId != null and map.fjjgId != ''"> and hd.fjjg_id = #{map.fjjgId} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by hd.cjsj desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyHdFront" resultType="com.itts.technologytransactionservice.model.LyHdDto">
        select
        hd.id,
        hd.cjsj,
        hd.gxsj,
        hd.hdmc,
        hd.hdjj,
        hd.hdtp,
        hd.hdtpmc,
        hd.bmjzsj,
        hd.hdzt,
        hd.bmkssj,
        hd.hdjssj,
        hd.hdkssj,
        hd.hdfbzt,
        hd.hdnr,
        hd.lyqy,
        hd.czqy,
        hd.zplb,
        hd.zxdh,
        hd.hdgz,
        hd.hdlbt,
        hd.hdxq,
        hd.fwbnr,
        hz.id as hz_id
        FROM
        t_ly_hd hd LEFT JOIN t_ly_hz hz on (hz.hd_id = hd.id)
        LEFT JOIN
        (select * from t_ly_bm
        <where>
            is_delete = 0
        </where>
        ) bm
        ON (bm.hd_id = hd.id)
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.hztype !=null and map.hztype == 0">and (hd.hzmc != null and hd.hzmc != '')</if>
            <if test="map.userId != null"> and bm.user_id = #{map.userId}</if>
            <if test="map.hdmc != null"> and hd.hdmc like concat('%',trim(#{map.hdmc}),'%') </if>
            <if test="map.selectType != null and map.selectType == 0"> and hz.id is null </if>
            <if test="map.selectType != null and map.selectType == 1"> and (hz.id is null or hz.id = #{map.hzId}) </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
            <if test="map.zxdh != null"> and hd.zxdh = #{map.zxdh} </if>
            <if test="map.hdgz != null"> and hd.hdgz = #{map.hdgz} </if>
            <if test="map.hdlbt != null"> and hd.hdlbt = #{map.hdlbt} </if>
            <if test="map.hdxq != null"> and hd.hdxq = #{map.hdxq} </if>
            <if test="map.hzjs != null"> and hd.hzjs = #{map.hzjs} </if>
            <if test="map.hztp != null"> and hd.hztp = #{map.hztp} </if>
            <if test="map.hztpmc != null"> and hd.hztpmc = #{map.hztpmc} </if>
            <if test="map.hzmc != null"> and hd.hzmc = #{map.hzmc} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <!--门户个人中心双创路演活动查询接口 -->
    <select id="findLyHdFrontUser" resultType="com.itts.technologytransactionservice.model.LyHdDto">
        select
        hd.id,
        hd.cjsj,
        hd.gxsj,
        hd.hdmc,
        hd.hdjj,
        hd.hdtp,
        hd.hdtpmc,
        hd.bmjzsj,
        hd.hdzt,
        hd.bmkssj,
        hd.hdjssj,
        hd.hdkssj,
        hd.hdfbzt,
        hd.hdnr,
        hd.lyqy,
        hd.czqy,
        hd.zplb,
        hd.zxdh,
        hd.hdgz,
        hd.hdlbt,
        hd.hdxq,
        hd.fwbnr,
        hz.id as hz_id
        FROM
        t_ly_hd hd
        LEFT JOIN t_ly_hz hz ON (hz.hd_id = hd.id)
        LEFT JOIN t_ly_bm bm ON (bm.hd_id = hd.id)
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.hztype !=null and map.hztype == 0">and (hd.hzmc != null and hd.hzmc != '')</if>
            <if test="map.userId != null"> and bm.user_id = #{map.userId} and bm.shzt = 2 </if>
            <if test="map.hdmc != null"> and hd.hdmc like concat('%',trim(#{map.hdmc}),'%') </if>
            <if test="map.selectType != null and map.selectType == 0"> and hz.id is null </if>
            <if test="map.selectType != null and map.selectType == 1"> and (hz.id is null or hz.id = #{map.hzId}) </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdEnd != null and map.hdEnd == 1"> and hd.hdzt != 3 </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
            <if test="map.zxdh != null"> and hd.zxdh = #{map.zxdh} </if>
            <if test="map.hdgz != null"> and hd.hdgz = #{map.hdgz} </if>
            <if test="map.hdlbt != null"> and hd.hdlbt = #{map.hdlbt} </if>
            <if test="map.hdxq != null"> and hd.hdxq = #{map.hdxq} </if>
            <if test="map.hzjs != null"> and hd.hzjs = #{map.hzjs} </if>
            <if test="map.hztp != null"> and hd.hztp = #{map.hztp} </if>
            <if test="map.hztpmc != null"> and hd.hztpmc = #{map.hztpmc} </if>
            <if test="map.hzmc != null"> and hd.hzmc = #{map.hzmc} </if>
        </where>
        GROUP BY(hd.id)
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyHdBack" resultType="com.itts.technologytransactionservice.model.LyHdDto">
        select
        hd.id,
        hd.fjjg_id,
        hd.cjsj,
        hd.gxsj,
        hd.hdmc,
        hd.hdjj,
        hd.hdtp,
        hd.hdtpmc,
        hd.bmjzsj,
        hd.hdzt,
        hd.bmkssj,
        hd.hdjssj,
        hd.hdkssj,
        hd.hdfbzt,
        hd.hdnr,
        hd.lyqy,
        hd.czqy,
        hd.zplb,
        hd.zxdh,
        hd.hdgz,
        hd.hdlbt,
        hd.hdxq,
        hd.fwbnr,
        hz.id as hz_id
        FROM
        t_ly_hd hd LEFT JOIN t_ly_hz hz on (hz.hd_id = hd.id)
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.fjjgId != null"> and hd.fjjg_id = #{map.fjjgId} </if>
            <if test="map.hztype !=null and map.hztype == 0">and (hd.hzmc != null and hd.hzmc != '')</if>
            <if test="map.hdmc != null"> and hd.hdmc like concat('%',trim(#{map.hdmc}),'%') </if>
            <if test="map.selectType != null and map.selectType == 0"> and hz.id is null </if>
            <if test="map.selectType != null and map.selectType == 1"> and (hz.id is null or hz.id = #{map.hzId}) </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdEnd != null and map.hdEnd == 1"> and hd.hdzt != 3 </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
            <if test="map.zxdh != null"> and hd.zxdh = #{map.zxdh} </if>
            <if test="map.hdgz != null"> and hd.hdgz = #{map.hdgz} </if>
            <if test="map.hdlbt != null"> and hd.hdlbt = #{map.hdlbt} </if>
            <if test="map.hdxq != null"> and hd.hdxq = #{map.hdxq} </if>
            <if test="map.hzjs != null"> and hd.hzjs = #{map.hzjs} </if>
            <if test="map.hztp != null"> and hd.hztp = #{map.hztp} </if>
            <if test="map.hztpmc != null"> and hd.hztpmc = #{map.hztpmc} </if>
            <if test="map.hzmc != null"> and hd.hzmc = #{map.hzmc} </if>
            <if test="map.type != null"> and (hd.hdzt = 0 or hd.hdzt = 1)</if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <resultMap id="BaseResultMap1" type="com.itts.technologytransactionservice.model.LyHdDto">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="cjsj" property="cjsj" jdbcType="DATE" />
        <result column="gxsj" property="gxsj" jdbcType="DATE" />
        <result column="hdmc" property="hdmc" jdbcType="VARCHAR" />
        <result column="hdjj" property="hdjj" jdbcType="LONGVARCHAR" />
        <result column="bmjzsj" property="bmjzsj" jdbcType="TIMESTAMP" />
        <result column="hdzt" property="hdzt" jdbcType="TINYINT" />
        <result column="bmkssj" property="bmkssj" jdbcType="TIMESTAMP" />
        <result column="hdjssj" property="hdjssj" jdbcType="TIMESTAMP" />
        <result column="hdkssj" property="hdkssj" jdbcType="TIMESTAMP" />
        <result column="hdfbzt" property="hdfbzt" jdbcType="TINYINT" />
        <result column="hdnr" property="hdnr" jdbcType="LONGVARCHAR" />
        <result column="zxdh" property="zxdh" jdbcType="VARCHAR" />
        <result column="hdgz" property="hdgz" jdbcType="LONGVARCHAR" />
        <result column="hzjs" property="hzjs" jdbcType="LONGVARCHAR" />
        <result column="hztp" property="hztp" jdbcType="VARCHAR" />
        <result column="hztpmc" property="hztpmc" jdbcType="VARCHAR" />
        <result column="hzmc" property="hzmc" jdbcType="VARCHAR" />
        <collection property="lyZwDtoList" ofType="com.itts.technologytransactionservice.model.LyZwDto">
            <id column="zw_id" property="id" jdbcType="BIGINT" />
            <result column="zw_zwjj" property="zwjj" jdbcType="LONGVARCHAR" />
            <result column="zw_hdId" property="hdId" jdbcType="BIGINT" />
            <result column="zw_zwmc" property="zwmc" jdbcType="VARCHAR" />
            <result column="zw_sjzdId" property="sjzdId" jdbcType="BIGINT" />
        </collection>
    </resultMap>
    <select id="findLyHzBack" resultMap="BaseResultMap1">
        SELECT
        hd.id AS id,
        zw.id AS zw_id,
        hd.cjsj AS cjsj,
        hd.gxsj AS gxsj,
        hd.hdmc AS hdmc,
        hd.hdjj AS hdjj,
        hd.bmjzsj AS bmjzsj,
        hd.hdzt AS hdzt,
        hd.bmkssj AS bmkssj,
        hd.hdjssj AS hdjssj,
        hd.hdkssj AS hdkssj,
        hd.hdfbzt AS hdfbzt,
        hd.hdnr AS hdnr,
        hd.zxdh AS zxdh,
        hd.hdgz AS hdgz,
        hd.hzjs AS hzjs,
        hd.hztp AS hztp,
        hd.hztpmc AS hztpmc,
        hd.hzmc AS hzmc,

        zw.id as zw_id,
        zw.zwjj as zw_zwjj,
        zw.hd_id as zw_hdId,
        zw.zwmc as zw_zwmc,
        zw.sjzd_id as zw_sjzdId

        FROM
        t_ly_hd hd LEFT JOIN t_ly_zw zw on(hd.id = zw.hd_id)
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.hztype !=null and map.hztype == 0">and (hd.hzmc != null and hd.hzmc != '')</if>
            <if test="map.hdmc != null"> and hd.hdmc like concat('%',trim(#{map.hdmc}),'%') </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
            <if test="map.zxdh != null"> and hd.zxdh = #{map.zxdh} </if>
            <if test="map.hdgz != null"> and hd.hdgz = #{map.hdgz} </if>
            <if test="map.hdlbt != null"> and hd.hdlbt = #{map.hdlbt} </if>
            <if test="map.hdxq != null"> and hd.hdxq = #{map.hdxq} </if>
            <if test="map.hzjs != null"> and hd.hzjs = #{map.hzjs} </if>
            <if test="map.hztp != null"> and hd.hztp = #{map.hztp} </if>
            <if test="map.hztpmc != null"> and hd.hztpmc = #{map.hztpmc} </if>
            <if test="map.hzmc != null"> and hd.hzmc = #{map.hzmc} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

</mapper>
