<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyHdMapper">

    <select id="findLyHdFront" resultType="com.itts.technologytransactionservice.model.LyHd">
        select hd.id as id,cjsj,gxsj,hdmc,hdjj,hdtp,hdtpmc,hdjzsj
        from t_ly_hd hd
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete != 2
            <if test="map.hdmc != null"> and hd.hdmc != #{map.hdmc} </if>
            <if test="map.hdtp != null"> and hd.hdtp != #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc != #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt != #{map.hdzt} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj != #{map.bmjzsj} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

</mapper>
