<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyHdMapper">

    <select id="findLyHdFront" resultType="com.itts.technologytransactionservice.model.LyHd">
        select hd.id as id,cjsj,gxsj,hdmc,hdjj,hdtp,hdtpmc,bmjzsj,hdzt,bmkssj,hdjssj,hdkssj,hdfbzt,hdnr,lyqy,czqy,zplb,zxdh,hdgz,hdlbt,hdxq,fwbnr
        from t_ly_hd hd
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.hdmc != null"> and hd.hdmc = #{map.hdmc} </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
            <if test="map.zxdh != null"> and hd.zxdh = #{map.zxdh} </if>
            <if test="map.hdgz != null"> and hd.hdgz = #{map.hdgz} </if>
            <if test="map.hdlbt != null"> and hd.hdlbt = #{map.hdlbt} </if>
            <if test="map.hdxq != null"> and hd.hdxq = #{map.hdxq} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyHdBack" resultType="com.itts.technologytransactionservice.model.LyHd">
        select hd.id as id,cjsj,gxsj,hdmc,hdjj,hdtp,hdtpmc,bmjzsj,hdzt,bmkssj,hdjssj,hdkssj,hdfbzt,hdnr,lyqy,czqy,zplb,zxdh,hdgz,hdlbt,hdxq,fwbnr
        from t_ly_hd hd
        <where>
            <!--后台能查询0或者1的数据 -->
            hd.is_delete = 0
            <if test="map.hdmc != null"> and hd.hdmc = #{map.hdmc} </if>
            <if test="map.hdtp != null"> and hd.hdtp = #{map.hdtp} </if>
            <if test="map.hdtpmc != null"> and hd.hdtpmc = #{map.hdtpmc} </if>
            <if test="map.hdzt != null"> and hd.hdzt = #{map.hdzt} </if>
            <if test="map.hdnr != null"> and hd.hdnr = #{map.hdnr} </if>
            <if test="map.bmjzsj != null"> and hd.bmjzsj = #{map.bmjzsj} </if>
            <if test="map.hdfbzt != null"> and hd.hdfbzt = #{map.hdfbzt} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

</mapper>
