<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyLyMapper">

    <select id="findLyLyFront" resultType="com.itts.technologytransactionservice.model.LyLyDto">
        select
        ly.id as id,
        ly.cjsj,
        ly.gxsj,
        ly.lyxq,
        ly.qymc,
        ly.lytp,
        ly.lytpmc,
        ly.hd_id,
        ly.lybt,
        ly.lyjj,
        ly.zbdz,
        ly.qylx,
        ly.lxfs,
        ly.fbzt,
        ly.lysp,
        ly.lyspmc,
        ly.lykssj,
        ly.lydz,
        hd.hdmc
        from t_ly_ly ly left join t_ly_hd hd on (hd.id = ly.hd_id)
        <where>
            <!--后台能查询0或者1的数据 -->
            ly.is_delete = 0
            <if test="map.lyxq != null"> and ly.lyxq = #{map.lyxq} </if>
            <if test="map.qymc != null"> and ly.qymc = #{map.qymc} </if>
            <if test="map.lxfs != null"> and ly.lxfs = #{map.lxfs} </if>
            <if test="map.fbzt != null"> and ly.fbzt = #{map.fbzt} </if>
            <if test="map.qylx != null"> and ly.qylx = #{map.qylx} </if>
            <if test="map.lytp != null"> and ly.lytp = #{map.lytp} </if>
            <if test="map.lytpmc != null"> and ly.lytpmc = #{map.lytpmc} </if>
            <if test="map.hdId != null"> and ly.hd_id = #{map.hdId} </if>
            <if test="map.lybt != null"> and ly.lybt like concat('%',trim(#{map.lybt}),'%') </if>
            <if test="map.lyjj != null"> and ly.lyjj = #{map.lyjj} </if>
            <if test="map.zbdz != null"> and ly.zbdz = #{map.zbdz} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyLyBack" resultType="com.itts.technologytransactionservice.model.LyLyDto">
        select
        ly.id as id,
        ly.cjsj,
        ly.gxsj,
        ly.lyxq,
        ly.qymc,
        ly.lytp,
        ly.lytpmc,
        ly.hd_id,
        ly.lybt,
        ly.lyjj,
        ly.zbdz,
        ly.qylx,
        ly.lxfs,
        ly.fbzt,
        ly.lysp,
        ly.lyspmc,
        ly.lykssj,
        ly.lydz,
        hd.hdmc
        from t_ly_ly ly left join t_ly_hd hd on (hd.id = ly.hd_id)
        <where>
            <!--后台能查询0或者1的数据 -->
            ly.is_delete = 0
            <if test="map.lyxq != null"> and ly.lyxq = #{map.lyxq} </if>
            <if test="map.qymc != null"> and ly.qymc = #{map.qymc} </if>
            <if test="map.lxfs != null"> and ly.lxfs = #{map.lxfs} </if>
            <if test="map.fbzt != null"> and ly.fbzt = #{map.fbzt} </if>
            <if test="map.qylx != null"> and ly.qylx = #{map.qylx} </if>
            <if test="map.lytp != null"> and ly.lytp = #{map.lytp} </if>
            <if test="map.lytpmc != null"> and ly.lytpmc = #{map.lytpmc} </if>
            <if test="map.hdId != null"> and ly.hd_id = #{map.hdId} </if>
            <if test="map.lybt != null"> and ly.lybt like concat('%',trim(#{map.lybt}),'%') </if>
            <if test="map.lyjj != null"> and ly.lyjj = #{map.lyjj} </if>
            <if test="map.zbdz != null"> and ly.zbdz = #{map.zbdz} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

</mapper>
