<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyMsgMapper">

    <select id="findLyMsgFront" resultType="com.itts.technologytransactionservice.model.LyMsgDto">
        select
        msg.id as id,
        hd.hdmc,
        msg.yh_id,
        msg.gxsj,
        msg.cjsj,
        msg.ry_id,
        msg.lynr,
        msg.hfnr,
        msg.lysj,
        msg.lyzt,
        msg.ckzt,
        msg.hfsj,
        yh.yhtx as yhtx,
        yh.yhm as yhm,
        yh.zsxm as zsxm,
        yh.yhlx as yhlx,
        sjzd.zdmc as yjly,
        zj.sshy as sshy,
        zj.xm as xm,
        zd.zdmc AS yhlb,
        zjyh.yhtx as zjtx,
        msg.sfckzt
        from t_ly_msg msg
        left join t_ly_ry ry on(ry.id = msg.ry_id)
        LEFT JOIN t_ly_hd hd ON (hd.id = ry.hd_id)
        left join t_zj zj on(zj.id = ry.zj_id)
        left join t_sjzd sjzd on(sjzd.zdbm = zj.yjly)
        left join t_yh zjyh on (zjyh.id = zj.yh_id)
        left join t_yh yh on (yh.id = msg.yh_id)
        LEFT JOIN t_sjzd zd on (zd.zdbm = yh.yhlb)
        <where>
            <!--后台能查询0或者1的数据 -->
            msg.is_delete = 0
            <if test="map.yhId != null"> and msg.yh_id = #{map.yhId} </if>
            <if test="map.yhm != null"> and yh.yhm like concat('%',trim(#{map.yhm}),'%') </if>
            <if test="map.yhlb != null"> and yh.yhlb = #{map.yhlb} </if>
            <if test="map.ryId != null"> and msg.ry_id = #{map.ryId} </if>
            <if test="map.lynr != null"> and msg.lynr = #{map.lynr} </if>
            <if test="map.hfnr != null"> and msg.hfnr = #{map.hfnr} </if>
            <if test="map.lyzt != null"> and msg.lyzt = #{map.lyzt} </if>
            <if test="map.sfckzt != null"> and msg.sfckzt = #{map.sfckzt} </if>
            <if test="map.ckzt != null || map.ckzt == 0"> and msg.lysj &gt; #{map.afterTime}</if>
            <if test="map.lysj != null"> and msg.lysj = #{map.lysj} </if>
        </where>
        <choose>
            <when test="(map.sort1 != null and map.sort1.trim() != '') and (map.sort2 != null and map.sort2.trim() != '')">
                order by ${map.sort1} ${map.order1}, ${map.sort2} ${map.order2}
            </when>
            <otherwise>
                order by id asc
            </otherwise>
        </choose>
    </select>
    <select id="findLyMsgBack" resultType="com.itts.technologytransactionservice.model.LyMsgDto">
        select
        msg.id as id,
        hd.hdmc,
        msg.yh_id,
        msg.gxsj,
        msg.cjsj,
        msg.ry_id,
        msg.lynr,
        msg.hfnr,
        msg.lysj,
        msg.lyzt,
        msg.ckzt,
        msg.hfsj,
        yh.yhtx as yhtx,
        yh.yhm as yhm,
        yh.zsxm as zsxm,
        yh.yhlx as yhlx,
        sjzd.zdmc as yjly,
        zj.sshy as sshy,
        zj.xm as xm,
        zd.zdmc AS yhlb,
        zjyh.yhtx as zjtx,
        msg.sfckzt
        from t_ly_msg msg
        left join t_ly_ry ry on(ry.id = msg.ry_id)
        LEFT JOIN t_ly_hd hd ON (hd.id = ry.hd_id)
        left join t_zj zj on(zj.id = ry.zj_id)
        left join t_sjzd sjzd on(sjzd.zdbm = zj.yjly)
        left join t_yh zjyh on (zjyh.id = zj.yh_id)
        left join t_yh yh on (yh.id = msg.yh_id)
        LEFT JOIN t_sjzd zd on (zd.zdbm = yh.yhlb)
        <where>
            <!--后台能查询0或者1的数据 -->
            msg.is_delete = 0
            <if test="map.fjjgId != null"> and hd.fjjg_id = #{map.fjjgId} </if>
            <if test="map.yhId != null"> and msg.yh_id = #{map.yhId} </if>
            <if test="map.yhm != null"> and yh.yhm like concat('%',trim(#{map.yhm}),'%') </if>
            <if test="map.yhlb != null"> and yh.yhlb = #{map.yhlb} </if>
            <if test="map.ryId != null"> and msg.ry_id = #{map.ryId} </if>
            <if test="map.lynr != null"> and msg.lynr = #{map.lynr} </if>
            <if test="map.hfnr != null"> and msg.hfnr = #{map.hfnr} </if>
            <if test="map.lyzt != null"> and msg.lyzt = #{map.lyzt} </if>
            <if test="map.lysj != null"> and msg.lysj = #{map.lysj} </if>
        </where>
        <choose>
            <when test="(map.sort1 != null and map.sort1.trim() != '') and (map.sort2 != null and map.sort2.trim() != '')">
                order by ${map.sort1} ${map.order1}, ${map.sort2} ${map.order2}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
<!--
    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;
    <resultMap id="BaseResultMap" type="com.itts.technologytransactionservice.model.LyZw">
        <id column="id" property="id" />
        <result column="cjsj" property="cjsj" />
        <result column="gxsj" property="gxsj" />
        <result column="is_delete" property="isDelete" />
        <result column="zwjj" property="zwjj" />
        <result column="hz_id" property="hzId" />
    </resultMap>

    &lt;!&ndash; 通用查询结果列 &ndash;&gt;
    <sql id="Base_Column_List">
        id, cjsj, gxsj, is_delete, zwjj, hz_id
    </sql>
-->

</mapper>
