<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyZpMapper">
    <select id="findLyZpFront" resultType="com.itts.technologytransactionservice.model.LyZpDto">
        select
        zp.id as id,
        zp.zpmc,
        zp.cjsj,
        zp.gxsj,
        zp.zpjj,
        zp.zplb,
        zp.zplx,
        hd.hdmc,
        sjzd.zdmc as lymc,
        zp.dwmc,
        zp.hzjg,
        zp.lxfs,
        zp.hzjg,
        zp.ly_id,
        zp.lb_id,
        zp.hd_id,
        zp.crf,
        zp.xygl,
        zp.xyglmc,
        zp.fbshzt,
        zp.lxr,
        zp.zzjgdm,
        zp.fr,
        zp.zj,
        zp.dzyx,
        zp.dz,
        zp.yxq,
        zp.gjc,
        zp.gjz,
        zp.fbshbz,
        zp.hzfs,
        zp.yxhzdw,
        zp.yxhzzj,
        zp.zptp,
        zp.zptpmc,
        zp.sjhm,
        zp.zpsp,
        zp.zpspmc,
        zp.yxqkssj,
        zp.yxqjssj,
        zp.zpxq,
        zp.jszb,
        zp.remarks,
        zp.cgwcsj
        from t_ly_zp zp left join t_sjzd sjzd on (sjzd.id = zp.ly_id) left join t_ly_zw zw on (zw.id = zp.zw_id) left join t_ly_hd hd on (hd.id = zp.hd_id)
        <where>
            <!--后台能查询0或者1的数据 -->
            zp.is_delete = 0
            <if test="map.zgzt == 0"> and (zp.fbshzt = 3 or zp.fbshzt = 5) </if>
            <if test="map.zpjj != null"> and zp.zpjj = #{map.zpjj} </if>
            <if test="map.lyId != null and map.lyId neq 255"> and zp.ly_id = #{map.lyId} </if>
            <if test="map.lbId != null and map.lbId neq 254"> and zp.lb_id = #{map.lbId} </if>
            <if test="map.zplb != null"> and zp.zplb = #{map.zplb} </if>
            <if test="map.zpmc != null"> and zp.zpmc like concat('%',trim(#{map.zpmc}),'%') </if>
            <if test="map.zplx != null"> and zp.zplx = #{map.zplx} </if>
            <if test="map.fbshzt != null"> and zp.fbshzt = #{map.fbshzt} </if>
            <if test="map.hdId != null"> and hd.id = #{map.hdId} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyZpBack" resultType="com.itts.technologytransactionservice.model.LyZpDto">
        select
        zp.id as id,
        zp.zpmc,
        zp.cjsj,
        zp.gxsj,
        zp.zpjj,
        zp.zplb,
        zp.zplx,
        hd.hdmc,
        sjzd.zdmc as lymc,
        zp.dwmc,
        zp.hzjg,
        zp.lxfs,
        zp.hzjg,
        zp.ly_id,
        zp.lb_id,
        zp.hd_id,
        zp.crf,
        zp.xygl,
        zp.xyglmc,
        zp.fbshzt,
        zp.lxr,
        zp.zzjgdm,
        zp.fr,
        zp.zj,
        zp.dzyx,
        zp.dz,
        zp.yxq,
        zp.gjc,
        zp.gjz,
        zp.fbshbz,
        zp.hzfs,
        zp.yxhzdw,
        zp.yxhzzj,
        zp.zptp,
        zp.zptpmc,
        zp.sjhm,
        zp.zpsp,
        zp.zpspmc,
        zp.yxqkssj,
        zp.yxqjssj,
        zp.zpxq,
        zp.jszb,
        zp.remarks,
        zp.cgwcsj
        from t_ly_zp zp left join t_sjzd sjzd on (sjzd.id = zp.ly_id) left join t_ly_zw zw on (zw.id = zp.zw_id) left join t_ly_hd hd on (hd.id = zp.hd_id)
        <where>
            <!--后台能查询0或者1的数据 -->
            zp.is_delete = 0
            <if test="map.zgzt == 0"> and (zp.fbshzt = 3 or zp.fbshzt = 5) </if>
            <if test="map.zpjj != null"> and zp.zpjj = #{map.zpjj} </if>
            <if test="map.lyId != null and map.lyId neq 255"> and zp.ly_id = #{map.lyId} </if>
            <if test="map.lbId != null and map.lbId neq 254"> and zp.lb_id = #{map.lbId} </if>
            <if test="map.zplb != null"> and zp.zplb = #{map.zplb} </if>
            <if test="map.zpmc != null"> and zp.zpmc like concat('%',trim(#{map.zpmc}),'%') </if>
            <if test="map.zplx != null"> and zp.zplx = #{map.zplx} </if>
            <if test="map.fbshzt != null"> and zp.fbshzt = #{map.fbshzt} </if>
            <if test="map.hdId != null"> and hd.id = #{map.hdId} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

</mapper>
