<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyZpMapper">
    <select id="findLyZpFront" resultType="com.itts.technologytransactionservice.model.LyZp">
        select zp.id as id,cjsj,gxsj,zpjj,zplb
        from t_ly_zp zp
        <where>
            <!--后台能查询0或者1的数据 -->
            zp.is_delete = 0
            <if test="map.zpjj != null"> and zp.zpjj = #{map.zpjj} </if>
            <if test="map.zplb != null"> and zp.zplb = #{map.zplb} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyZpBack" resultType="com.itts.technologytransactionservice.model.LyZp">
        select zp.id as id,cjsj,gxsj,zpjj,zplb
        from t_ly_zp zp
        <where>
            <!--后台能查询0或者1的数据 -->
            zp.is_delete = 0
            <if test="map.zpjj != null"> and zp.zpjj = #{map.zpjj} </if>
            <if test="map.zplb != null"> and zp.zplb = #{map.zplb} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

</mapper>
