<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.technologytransactionservice.mapper.LyZwMapper">

    <select id="findLyZwFront" resultType="com.itts.technologytransactionservice.model.LyZw">
        select zw.id as id,cjsj,gxsj,zwjj,hd_id
        from t_ly_zw zw
        <where>
            <!--后台能查询0或者1的数据 -->
            zw.is_delete = 0
            <if test="map.zwjj != null"> and zw.zwjj = #{map.zwjj} </if>
            <if test="map.hdId != null"> and zw.hd_id = #{map.hdId} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
    <select id="findLyZwBack" resultType="com.itts.technologytransactionservice.model.LyZw">
        select zw.id as id,cjsj,gxsj,zwjj,hd_id
        from t_ly_zw zw
        <where>
            <!--后台能查询0或者1的数据 -->
            zw.is_delete = 0
            <if test="map.zwjj != null"> and zw.zwjj = #{map.zwjj} </if>
            <if test="map.hdId != null"> and zw.hd_id = #{map.hdId} </if>
        </where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
<!--
    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;
    <resultMap id="BaseResultMap" type="com.itts.technologytransactionservice.model.LyZw">
        <id column="id" property="id" />
        <result column="cjsj" property="cjsj" />
        <result column="gxsj" property="gxsj" />
        <result column="is_delete" property="isDelete" />
        <result column="zwjj" property="zwjj" />
        <result column="hz_id" property="hzId" />
    </resultMap>

    &lt;!&ndash; 通用查询结果列 &ndash;&gt;
    <sql id="Base_Column_List">
        id, cjsj, gxsj, is_delete, zwjj, hz_id
    </sql>
-->

</mapper>
