<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itts.technologytransactionservice.mapper.TJsLyMapper">

	<select id="list" resultType="com.itts.technologytransactionservice.model.TJsLy">
		select `id`,`mc`,`bh` from t_js_ly
        <where>  
		  		  <if test="map.id != null and map.id != ''"> and id = #{map.id} </if>
		  		  <if test="map.mc != null and map.mc != ''"> and mc = #{map.mc} </if>
		  		  <if test="map.bh != null and map.bh != ''"> and bh = #{map.bh} </if>
		  		</where>
        <choose>
            <when test="map.sort != null and map.sort.trim() != ''">
                order by ${map.sort} ${map.order}
            </when>
			<otherwise>
                order by id asc
			</otherwise>
        </choose>
	</select>

</mapper>