<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.userservice.mapper.cz.CzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.userservice.model.cz.Cz">
        <id column="id" property="id"/>
        <result column="czmc" property="czmc"/>
        <result column="czbm" property="czbm"/>
        <result column="sfsc" property="sfsc"/>
        <result column="cjsj" property="cjsj"/>
        <result column="cjr" property="cjr"/>
        <result column="gxsj" property="gxsj"/>
        <result column="gxr" property="gxr"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, czmc, czbm, sfsc, cjsj, cjr, gxsj, gxr
    </sql>


    <!-- 查询当前菜单的操作 -->
    <select id="findcdcz" resultType="com.itts.userservice.dto.CzDTO">
        select cz.id as id,cz.czmc as name,cz.czbm as code
        from t_cz cz left join t_js_cd_cz_gl cdcz on cdcz.cz_id =cz.id
        where cdcz.js_id=#{jsid} and cdcz.cd_id=#{cdid}
    </select>
</mapper>
