<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.xwgl.XwglMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.xwgl.Xwgl">
        <id column="id" property="id" />
        <result column="xwbt" property="xwbt" />
        <result column="xwnr" property="xwnr" />
        <result column="xwtp" property="xwtp" />
        <result column="xwfbr" property="xwfbr" />
        <result column="sj" property="sj" />
        <result column="lx" property="lx" />
        <result column="jg_id" property="jgId" />
        <result column="zt" property="zt" />
        <result column="fbsj" property="fbsj" />
        <result column="tj" property="tj" />
        <result column="bz" property="bz" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, xwbt, xwnr, xwtp, xwfbr, sj, lx, jg_id, zt, fbsj, tj, bz, sfsc, cjsj, cjr, gxsj, gxr
    </sql>

</mapper>
