<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.sz.SzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.sz.Sz">
        <id column="id" property="id" />
        <result column="dsbh" property="dsbh" />
        <result column="dsxm" property="dsxm" />
        <result column="dh" property="dh" />
        <result column="xb" property="xb" />
        <result column="sfzh" property="sfzh" />
        <result column="jg" property="jg" />
        <result column="csrq" property="csrq" />
        <result column="mz" property="mz" />
        <result column="zzmm" property="zzmm" />
        <result column="whcd" property="whcd" />
        <result column="yx" property="yx" />
        <result column="ssjg_id" property="ssjgId" />
        <result column="gbzw" property="gbzw" />
        <result column="cszy_one" property="cszyOne" />
        <result column="cszy_two" property="cszyTwo" />
        <result column="cszy_three" property="cszyThree" />
        <result column="jszc" property="jszc" />
        <result column="dwdh" property="dwdh" />
        <result column="pzsdny" property="pzsdny" />
        <result column="pzbdny" property="pzbdny" />
        <result column="zgzt" property="zgzt" />
        <result column="dslb" property="dslb" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
        <result column="zw" property="zw" />
        <result column="dzsj" property="dzsj" />
        <result column="csjszysj" property="csjszysj" />
        <result column="zhxl" property="zhxl" />
        <result column="zhxw" property="byyx" />
        <result column="zhzy" property="zhzy" />
        <result column="zhsj" property="zhsj" />
        <result column="xwsysj" property="xwsysj" />
        <result column="sfsd" property="sfsd" />
        <result column="crsddwjzy" property="crsddwjzy" />
        <result column="ssyjxkmc" property="ssyjxkmc" />
        <result column="ejxky" property="ejxky" />
        <result column="ejxke" property="ejxke" />
        <result column="yjcg" property="yjcg" />
        <result column="cbzp" property="cbzp" />
        <result column="gzjl" property="gzjl" />
        <result column="kyxm" property="kyxm" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, yx, dsbh, dsxm, dh, xb, sfzh, jg, csrq, mz, zzmm, whcd, yx, ssjg_id, gbzw, cszy_one, cszy_two, cszy_three, jszc, dwdh, zzdh, hxwsj, hxlyx, hxlsj, sxzy, zgxl, pzsdny, pzbdny, dssqsny, dbsqsny, zgzt, dslb, sczt, cjsj, cjr, gxsj, gxr, csjszysj,zhxl,zhxw,byyx,zhzy,zhsj,xwsysj,sfsd,crsddwjzy,ssyjxkmc,ejxky,ejxke,yjcg,cbzp,gzjl,kyxm
    </sql>
    <select id="getSzByYhId" resultType="com.itts.personTraining.model.sz.Sz">
        select *
        from t_sz sz
        where sz.sfsc = false and sz.yh_id = #{yhId}
    </select>
    <select id="findByDslb" resultType="com.itts.personTraining.model.sz.Sz">
        select *
        from t_sz sz
        where sz.sfsc = false and sz.dslb = #{dslb}
    </select>

</mapper>
