<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.xs.XsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.xs.Xs">
        <id column="id" property="id" />
        <result column="xh" property="xh" />
        <result column="xm" property="xm" />
        <result column="nj" property="nj" />
        <result column="xb" property="xb" />
        <result column="csrq" property="csrq" />
        <result column="xslb_id" property="xslbId" />
        <result column="xslbmc" property="xslbmc" />
        <result column="sfzh" property="sfzh" />
        <result column="byzh" property="byzh" />
        <result column="xwzh" property="xwzh" />
        <result column="yjfx" property="yjfx" />
        <result column="pylb_id" property="pylbId" />
        <result column="pylbmc" property="pylbmc" />
        <result column="jg" property="jg" />
        <result column="mz" property="mz" />
        <result column="zzmm" property="zzmm" />
        <result column="rxfs" property="rxfs" />
        <result column="ybyyx" property="ybyyx" />
        <result column="ygzdw" property="ygzdw" />
        <result column="ygzdwdz" property="ygzdwdz" />
        <result column="xgzdw" property="xgzdw" />
        <result column="xgzdwdz" property="xgzdwdz" />
        <result column="xgzdwyb" property="xgzdwyb" />
        <result column="xz" property="xz" />
        <result column="xxdd" property="xxdd" />
        <result column="bkbyzh" property="bkbyzh" />
        <result column="bkxwzh" property="bkxwzh" />
        <result column="lwtm" property="lwtm" />
        <result column="lwztc" property="lwztc" />
        <result column="dbrq" property="dbrq" />
        <result column="byrq" property="byrq" />
        <result column="sxwrq" property="sxwrq" />
        <result column="xwlx" property="xwlx" />
        <result column="dsbh" property="dsbh" />
        <result column="dsxm" property="dsxm" />
        <result column="yx" property="yx" />
        <result column="jwzydm" property="jwzydm" />
        <result column="xxxs" property="xxxs" />
        <result column="byjl" property="byjl" />
        <result column="xzxm" property="xzxm" />
        <result column="bxlx" property="bxlx" />
        <result column="pydwm" property="pydwm" />
        <result column="pydw" property="pydw" />
        <result column="zsjj" property="zsjj" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>
    <!-- 教务管理 -->
    <resultMap id="JwglDTOMap" type="com.itts.personTraining.dto.JwglDTO">
        <id column="id" property="id" />
        <result column="xh" property="xh" />
        <result column="xm" property="xm" />
        <result column="nj" property="nj" />
        <result column="xb" property="xb" />
        <result column="csrq" property="csrq" />
        <result column="xslb_id" property="xslbId" />
        <result column="xslbmc" property="xslbmc" />
        <result column="sfzh" property="sfzh" />
        <result column="byzh" property="byzh" />
        <result column="xwzh" property="xwzh" />
        <result column="yjfx" property="yjfx" />
        <result column="pylb_id" property="pylbId" />
        <result column="pylbmc" property="pylbmc" />
        <result column="jg" property="jg" />
        <result column="mz" property="mz" />
        <result column="zzmm" property="zzmm" />
        <result column="rxfs" property="rxfs" />
        <result column="ybyyx" property="ybyyx" />
        <result column="ygzdw" property="ygzdw" />
        <result column="ygzdwdz" property="ygzdwdz" />
        <result column="xgzdw" property="xgzdw" />
        <result column="xgzdwdz" property="xgzdwdz" />
        <result column="xgzdwyb" property="xgzdwyb" />
        <result column="xz" property="xz" />
        <result column="xxdd" property="xxdd" />
        <result column="bkbyzh" property="bkbyzh" />
        <result column="bkxwzh" property="bkxwzh" />
        <result column="lwtm" property="lwtm" />
        <result column="lwztc" property="lwztc" />
        <result column="dbrq" property="dbrq" />
        <result column="byrq" property="byrq" />
        <result column="sxwrq" property="sxwrq" />
        <result column="xwlx" property="xwlx" />
        <result column="dsbh" property="dsbh" />
        <result column="dsxm" property="dsxm" />
        <result column="yx" property="yx" />
        <result column="jwzydm" property="jwzydm" />
        <result column="xxxs" property="xxxs" />
        <result column="byjl" property="byjl" />
        <result column="xzxm" property="xzxm" />
        <result column="bxlx" property="bxlx" />
        <result column="pydwm" property="pydwm" />
        <result column="pydw" property="pydw" />
        <result column="zsjj" property="zsjj" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
        <result column="pcmc" property="pcmc" />
        <collection property="kcList" ofType="com.itts.personTraining.model.kc.Kc">
        <id column="id" property="id" />
        <result column="lb" property="lb" />
        <result column="zsmk_id" property="zsmkId" />
        <result column="kcmc" property="kcmc" />
        <result column="kcdm" property="kcdm" />
        <result column="kclx" property="kclx" />
        <result column="kcxs" property="kcxs" />
        <result column="kcxf" property="kcxf" />
        <result column="kkxq" property="kkxq" />
        <result column="kkxy" property="kkxy" />
        <result column="skfs" property="skfs" />
        <result column="sfbx" property="sfbx" />
        <result column="bz" property="bz" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, xh, xm, nj, xb, csrq, xslb_id, xslbmc, sfzh, byzh, xwzh, yjfx, pylb_id, pylbmc, jg, mz, zzmm, rxfs, ybyyx, ygzdw, ygzdwdz, xgzdw, xgzdwdz, xgzdwyb, xz, xxdd, bkbyzh, bkxwzh, lwtm, lwztc, dbrq, byrq, sxwrq, xwlx, dsbh, dsxm, yx, jwzydm, xxxs, byjl, xzxm, bxlx, pydwm, pydw, zsjj, sczt, cjsj, cjr, gxsj, gxr
    </sql>
    <!--教务管理-->
    <select id="findJwglList" resultMap="JwglDTOMap">
        select xs.*,pc.pcmc,kc.*
        from t_xs xs
        left join t_pc pc on pc.id = xs.pc_id
        left join t_kc_xs kcxs on xs.id =kcxs.xs_id
        left join t_kc kc on kc.id = kcxs.kc_id
        where xs.sfsc =false and pc.sfsc =false and kcxs.sfsc = false and kc.sfsc = false
        <if test="yx != null and yx != ''">
            AND xs.yx =#{yx}
        </if>
        <if test="pcId != null and pcId != ''">
            AND pc.id =#{pcId}
        </if>
        <if test="string != null and string != ''">
            AND (xs.xm like concat('%',#{string},'%') or xs.xh like concat('%',#{string},'%'))
        </if>
        order by xs.cjsj desc
    </select>

    <!--新增学生课程关联-->
    <insert id="addKcList">
        insert into t_kc_xs(kc_id,xs_id) values(#{id},#{kcId})
    </insert>
</mapper>
