<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.pyjh.PyJhMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.pyjh.PyJh">
        <id column="id" property="id" />
        <result column="pc_id" property="pcId" />
        <result column="fjzy_id" property="fjzyId" />
        <result column="jhmc" property="jhmc" />
        <result column="pymb" property="pymb" />
        <result column="xzyxxnx" property="xzyxxnx" />
        <result column="pyfshff" property="pyfshff" />
        <result column="pyfaypyjh" property="pyfaypyjh" />
        <result column="kcszhxfgd" property="kcszhxfgd" />
        <result column="sjlw" property="sjlw" />
        <result column="pygl" property="pygl" />
        <result column="sfsc" property="sfsc" />
        <result column="sfxf" property="sfxf" />
        <result column="xfsj" property="xfsj" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pc_id, fjzy_id, jhmc, pymb, xzyxxnx, pyfshff, pyfaypyjh, kcszhxfgd, sjlw, pygl, sfsc, sfxf, xfsj, cjr, gxsj, gxr
    </sql>
    <select id="findByPage" resultType="com.itts.personTraining.dto.PyJhDTO">
        select tpj.id as id, pc_id,pc.pch as pch, pc.pcmc as pcmc, pc.jylx as jylx, jhmc, pymb, xzyxxnx, pyfshff, pyfaypyjh, kcszhxfgd, sjlw, pygl, fjzy_id, tpj.sfsc as sfsc, tpj.sfxf, tpj.xfsj, tpj.cjsj, tpj.cjr, tpj.gxsj, tpj.gxr
        from t_py_jh tpj left join t_pc pc on (tpj.pc_id = pc.id)
        where
            tpj.sfsc = false and pc.sfsc = false
            <if test="fjjgId != null"> and tpj.fjjg_id = #{fjjgId} </if>
            <if test="pch != null and pch != ''"> and pc.pch like concat('%',trim(#{pch}),'%') </if>
            <if test="jylx != null and jylx != ''"> and pc.jylx = trim(#{jylx}) </if>
            <if test="jhmc != null and jhmc != ''"> and tpj.jhmc like concat('%',trim(#{jhmc}),'%') </if>
        order by tpj.sfxf asc, tpj.cjsj desc
    </select>
    <select id="findByPcId" resultType="com.itts.personTraining.dto.PyJhDTO">
        select tpj.*, pc.id as pcId, pc.pch
        from t_py_jh tpj left join t_pc pc on (tpj.pc_id = pc.id)
        where tpj.sfsc = false and tpj.sfxf = true and pc.sfsc = false and tpj.pc_id = #{pcId}
        order by tpj.cjsj desc
    </select>
    <select id="findAllPc" resultType="com.itts.personTraining.model.pc.Pc">
        select distinct pc.*
        from t_pc pc left join t_py_jh tpj on (tpj.pc_id = pc.id)
        where tpj.sfsc = false and tpj.sfxf = true and pc.sfsc = false
        order by pc.cjsj desc
    </select>

</mapper>
