<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.ks.KsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.ks.Ks">
        <id column="id" property="id" />
        <result column="pc_id" property="pcId" />
        <result column="ksmc" property="ksmc" />
        <result column="kslx" property="kslx" />
        <result column="sfxf" property="sfxf" />
        <result column="sfsc" property="sfsc" />
        <result column="cjsj" property="cjsj" />
        <result column="cjr" property="cjr" />
        <result column="gxsj" property="gxsj" />
        <result column="gxr" property="gxr" />
        <result column="xfsj" property="xfsj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pc_id, ksmc, kslx, sfxf, sfsc, cjsj, cjr, gxsj, gxr, xfsj
    </sql>
    <select id="findByPage" resultType="com.itts.personTraining.dto.KsDTO">
        select ks.id, pc_id, pc.pch, ksmc, kslx, ks.sfxf, ks.sfsc, ks.cjsj, ks.cjr, ks.gxsj, ks.gxr, ks.xfsj
        from t_ks ks left join t_pc pc on (ks.pc_id=pc.id)
        <where>
            ks.sfsc = false and pc.sfsc = false
            <if test="pcId != null">and ks.pc_id = #{pcId}</if>
            <if test="ksmc != null and ksmc != ''">and ks.ksmc like concat('%',#{ksmc},'%')</if>
            <if test="kslx != null">and ks.kslx = #{kslx}</if>
        </where>
    </select>
    <select id="findById" resultType="com.itts.personTraining.dto.KsDTO">
        select ks.id, pc_id, pc.pch, ksmc, kslx, ks.sfsc, ks.sfxf, ks.cjsj, ks.cjr, ks.gxsj, ks.gxr, ks.xfsj
        from t_ks ks left join t_pc pc on(ks.pc_id=pc.id)
        <where>
            ks.sfsc = false and pc.sfsc = false
            <if test="id != null">and ks.id = #{id}</if>
        </where>
    </select>

</mapper>
