<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.szKsExp.SzKsExpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.szKsExp.SzKsExp">
        <id column="id" property="id" />
        <result column="sz_id" property="szId" />
        <result column="ks_exp_id" property="ksExpId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sz_id, ks_exp_id
    </sql>
    <select id="selectByKsId" resultType="java.lang.Long">
        select sz_id
        from t_sz_ks tsk
        <where>
            tsk.ks_id = #{ksId}
        </where>
    </select>

</mapper>
