<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itts.personTraining.mapper.szKsExp.SzKsExpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itts.personTraining.model.szKsExp.SzKsExp">
        <id column="id" property="id" />
        <result column="sz_id" property="szId" />
        <result column="ks_exp_id" property="ksExpId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sz_id, ks_exp_id
    </sql>
    <select id="selectByKsExpId" resultType="java.lang.Long">
        select sz_id
        from t_sz_ks_exp tske
        <where>
            tske.ks_exp_id = #{ksExpId}
        </where>
    </select>
    <select id="findSzIdsByKsExpId" resultType="java.lang.Long">
        select tske.sz_id
        from t_sz_ks_exp tske left join t_ks_exp tke on (tke.id=tske.ks_exp_id) left join t_ks ks on (ks.id=tke.ks_id)
        where tke.sfsc = false and ks.sfsc = false and tske.ks_exp_id = #{ksExpId}
    </select>

</mapper>
